In [13]:
import pandas as pd
import geopandas

In [14]:
import json

csv = pd.read_csv('csvallmetro.csv')
atlantageocodes = pd.DataFrame(csv['GEOID'].drop_duplicates())

# display(atlantageocodes)

In [15]:
# =SUM(SUMIFS(E:E,B:B,H2,D:D,J2,C:C,{"Less than $10,000","$10,000 to $19,999","$20,000 to $34,999"}))
# =SUM(SUMIFS(E:E,B:B,H9,D:D,J9,C:C,{"$35,000 to $49,999","$50,000 to $74,999"}))
# =SUM(SUMIFS(E:E,B:B,H16,D:D,J16,C:C,{"$75,000 to $99,999","$100,000 or more"}))

# =SUM(SUMIFS(D:D,A:A,G2,B:B,H2,C:C,{"Less than 20.0 percent","20.0 to 24.9 percent","25.0 to 29.9 percent"}))
# =SUM(SUMIFS(D:D,A:A,G3,B:B,H3,C:C,{"30.0 to 34.9 percent","35.0 to 39.9 percent","40.0 to 49.9 percent"}))
# =SUM(SUMIFS(D:D,A:A,G4,B:B,H4,C:C,{"50.0 percent or more"}))

income_mapping = {
        "Less than $10,000":'Low Income',
        "$10,000 to $19,999":'Low Income',
        "$20,000 to $34,999":'Low Income',
            "$35,000 to $49,999":'Med Income',
            "$50,000 to $74,999":'Med Income',
                "$75,000 to $99,999":'High Income',
                "$100,000 or more":'High Income',
    }

rent_mapping = {
        "Less than 20.0 percent":'Low Burden',
        "20.0 to 24.9 percent":'Low Burden',
        "25.0 to 29.9 percent":'Low Burden',
            "30.0 to 34.9 percent":'Med Burden',
            "35.0 to 39.9 percent":'Med Burden',
            "40.0 to 49.9 percent":'Med Burden',
                "50.0 percent or more":'High Burden',
    }

csv['IncomeG'] = csv['Income'].replace(income_mapping)
csv['RentG'] = csv['Rent as % of Income'].replace(rent_mapping)

In [16]:
# display(csv)

df = csv.groupby(['GEOID','YEAR','IncomeG','RentG']).sum()
df.to_csv('temp.csv')
df = pd.read_csv('temp.csv')

In [74]:
display(df.head())
type(df)

         GEOID  YEAR      IncomeG        RentG  HHs
0  13013180103  2014  High Income  High Burden    0
1  13013180103  2014  High Income   Low Burden   38
2  13013180103  2014  High Income   Med Burden    0
3  13013180103  2014   Low Income  High Burden    0
4  13013180103  2014   Low Income   Low Burden    0

pandas.core.frame.DataFrame

In [115]:
totalHHs = csv.groupby(['GEOID','YEAR']).sum()

display(totalHHs.head())

totalHHs.to_csv('temp.csv')
totalHHs = pd.read_csv('temp.csv')

display(totalHHs.head())

totalHHs = totalHHs[totalHHs['YEAR']==2017]

                  HHs
GEOID       YEAR
13013180103 2014  109
            2015  157
            2016  162
            2017  219
13013180104 2014  116

         GEOID  YEAR  HHs
0  13013180103  2014  109
1  13013180103  2015  157
2  13013180103  2016  162
3  13013180103  2017  219
4  13013180104  2014  116

In [19]:
#Calculate % rent burdened all incomes
totalHHspercent = csv.groupby(['GEOID','YEAR','RentG','IncomeG']).sum()



totalHHspercent.to_csv('temp.csv')
totalHHspercent = pd.read_csv('temp.csv')



totalHHspercent.index = totalHHspercent['GEOID']
totalHHspercent.rename(columns={"GEOID": "GEOID2"}, inplace=True)

#display(totalHHspercent.head())

burdenlist = ['Low Burden', 'Med Burden', 'High Burden']
incomelist = ['Low Income', 'Med Income', 'High Income']

for YEAR in [2014,2015,2016,2017]:
    for burden in burdenlist:
            for income in incomelist:
                totalHHscalc = totalHHspercent[(totalHHspercent['IncomeG']==income) & (totalHHspercent['YEAR']==YEAR) & (totalHHspercent['RentG']==burden)]['HHs'] / totalHHspercent[(totalHHspercent['YEAR']==2017)].groupby(['GEOID']).sum()['HHs']
                #totalHHscalc = totalHHspercent[(totalHHspercent['IncomeG']==income) & (totalHHspercent['YEAR']==YEAR) & (totalHHspercent['RentG']==burden)]
                
                
                
                #display(totalHHscalc)
                totalHHscalc = pd.DataFrame(totalHHscalc)
                totalHHscalc['GEOID'] = totalHHscalc.index
                totalHHscalc.rename(columns={"HHs": str(YEAR)+income+burden}, inplace=True)

                display(totalHHscalc.head())

                  GEOID2  YEAR        RentG      IncomeG  HHs
GEOID
13013180103  13013180103  2014  High Burden  High Income    0
13013180103  13013180103  2014  High Burden   Low Income    0
13013180103  13013180103  2014  High Burden   Med Income    0
13013180103  13013180103  2014   Low Burden  High Income   38
13013180103  13013180103  2014   Low Burden   Low Income    0

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2014  Low Burden  Low Income    0
13013180104  13013180104  2014  Low Burden  Low Income    4
13013180105  13013180105  2014  Low Burden  Low Income    0
13013180106  13013180106  2014  Low Burden  Low Income    9
13013180107  13013180107  2014  Low Burden  Low Income    0
13013180108  13013180108  2014  Low Burden  Low Income    0
13013180203  13013180203  2014  Low Burden  Low Income   67
13013180204  13013180204  2014  Low Burden  Low Income   28
13013180205  13013180205  2014  Low Burden  Low Income   35
13013180206  13013180206  2014  Low Burden  Low Income   13
13013180301  13013180301  2014  Low Burden  Low Income    4
13013180302  13013180302  2014  Low Burden  Low Income    0
13013180303  13013180303  2014  Low Burden  Low Income    0
13013180401  13013180401  2014  Low Burden  Low Income    0
13013180402  13013180402  2014  Low Burden  Low Income   57
13013180501  13013180501  2014  Low Burden  Low Income   16
13013180502  13013180502  2014  Low Burden  Low Income   16
13013180503  13013180503  2014  Low Burden  Low Income    2
13015960101  13015960101  2014  Low Burden  Low Income    0
13015960102  13015960102  2014  Low Burden  Low Income   59
13015960200  13015960200  2014  Low Burden  Low Income  192
13015960300  13015960300  2014  Low Burden  Low Income   12
13015960401  13015960401  2014  Low Burden  Low Income   74
13015960402  13015960402  2014  Low Burden  Low Income  126
13015960500  13015960500  2014  Low Burden  Low Income   73
13015960600  13015960600  2014  Low Burden  Low Income   19
13015960700  13015960700  2014  Low Burden  Low Income   86
13015960801  13015960801  2014  Low Burden  Low Income   11
13015960802  13015960802  2014  Low Burden  Low Income   23
13015960803  13015960803  2014  Low Burden  Low Income   19
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2014  Low Burden  Low Income    0
13247060406  13247060406  2014  Low Burden  Low Income    0
13247060407  13247060407  2014  Low Burden  Low Income   85
13255160100  13255160100  2014  Low Burden  Low Income  106
13255160200  13255160200  2014  Low Burden  Low Income   57
13255160300  13255160300  2014  Low Burden  Low Income   23
13255160400  13255160400  2014  Low Burden  Low Income  107
13255160500  13255160500  2014  Low Burden  Low Income   38
13255160600  13255160600  2014  Low Burden  Low Income    8
13255160700  13255160700  2014  Low Burden  Low Income   29
13255160800  13255160800  2014  Low Burden  Low Income  197
13255160900  13255160900  2014  Low Burden  Low Income   13
13255161000  13255161000  2014  Low Burden  Low Income   13
13255161100  13255161100  2014  Low Burden  Low Income    7
13255161200  13255161200  2014  Low Burden  Low Income  169
13297110100  13297110100  2014  Low Burden  Low Income   38
13297110200  13297110200  2014  Low Burden  Low Income   58
13297110300  13297110300  2014  Low Burden  Low Income  226
13297110400  13297110400  2014  Low Burden  Low Income  151
13297110503  13297110503  2014  Low Burden  Low Income    0
13297110504  13297110504  2014  Low Burden  Low Income    0
13297110505  13297110505  2014  Low Burden  Low Income    0
13297110506  13297110506  2014  Low Burden  Low Income    0
13297110507  13297110507  2014  Low Burden  Low Income    0
13297110508  13297110508  2014  Low Burden  Low Income    0
13297110601  13297110601  2014  Low Burden  Low Income   15
13297110602  13297110602  2014  Low Burden  Low Income   11
13297110603  13297110603  2014  Low Burden  Low Income    0
13297110700  13297110700  2014  Low Burden  Low Income   50
13297110800  13297110800  2014  Low Burden  Low Income   60

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2014Low IncomeLow Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2014,Low Burden,Low Income,0,13013180103
13013180104,13013180104,2014,Low Burden,Low Income,4,13013180104
13013180105,13013180105,2014,Low Burden,Low Income,0,13013180105
13013180106,13013180106,2014,Low Burden,Low Income,9,13013180106
13013180107,13013180107,2014,Low Burden,Low Income,0,13013180107

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2014  Low Burden  Med Income   45
13013180104  13013180104  2014  Low Burden  Med Income   30
13013180105  13013180105  2014  Low Burden  Med Income   17
13013180106  13013180106  2014  Low Burden  Med Income   18
13013180107  13013180107  2014  Low Burden  Med Income  166
13013180108  13013180108  2014  Low Burden  Med Income   80
13013180203  13013180203  2014  Low Burden  Med Income  168
13013180204  13013180204  2014  Low Burden  Med Income   94
13013180205  13013180205  2014  Low Burden  Med Income  125
13013180206  13013180206  2014  Low Burden  Med Income  125
13013180301  13013180301  2014  Low Burden  Med Income   26
13013180302  13013180302  2014  Low Burden  Med Income  175
13013180303  13013180303  2014  Low Burden  Med Income   71
13013180401  13013180401  2014  Low Burden  Med Income  224
13013180402  13013180402  2014  Low Burden  Med Income   71
13013180501  13013180501  2014  Low Burden  Med Income   18
13013180502  13013180502  2014  Low Burden  Med Income   31
13013180503  13013180503  2014  Low Burden  Med Income   22
13015960101  13015960101  2014  Low Burden  Med Income    3
13015960102  13015960102  2014  Low Burden  Med Income  173
13015960200  13015960200  2014  Low Burden  Med Income  361
13015960300  13015960300  2014  Low Burden  Med Income   34
13015960401  13015960401  2014  Low Burden  Med Income  299
13015960402  13015960402  2014  Low Burden  Med Income  480
13015960500  13015960500  2014  Low Burden  Med Income  429
13015960600  13015960600  2014  Low Burden  Med Income  342
13015960700  13015960700  2014  Low Burden  Med Income  554
13015960801  13015960801  2014  Low Burden  Med Income   84
13015960802  13015960802  2014  Low Burden  Med Income   78
13015960803  13015960803  2014  Low Burden  Med Income  192
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2014  Low Burden  Med Income    6
13247060406  13247060406  2014  Low Burden  Med Income    9
13247060407  13247060407  2014  Low Burden  Med Income  102
13255160100  13255160100  2014  Low Burden  Med Income   63
13255160200  13255160200  2014  Low Burden  Med Income   26
13255160300  13255160300  2014  Low Burden  Med Income   98
13255160400  13255160400  2014  Low Burden  Med Income  144
13255160500  13255160500  2014  Low Burden  Med Income  205
13255160600  13255160600  2014  Low Burden  Med Income   85
13255160700  13255160700  2014  Low Burden  Med Income  272
13255160800  13255160800  2014  Low Burden  Med Income  235
13255160900  13255160900  2014  Low Burden  Med Income  166
13255161000  13255161000  2014  Low Burden  Med Income   75
13255161100  13255161100  2014  Low Burden  Med Income  129
13255161200  13255161200  2014  Low Burden  Med Income  171
13297110100  13297110100  2014  Low Burden  Med Income  156
13297110200  13297110200  2014  Low Burden  Med Income   16
13297110300  13297110300  2014  Low Burden  Med Income  343
13297110400  13297110400  2014  Low Burden  Med Income  123
13297110503  13297110503  2014  Low Burden  Med Income   23
13297110504  13297110504  2014  Low Burden  Med Income   59
13297110505  13297110505  2014  Low Burden  Med Income   83
13297110506  13297110506  2014  Low Burden  Med Income   84
13297110507  13297110507  2014  Low Burden  Med Income  112
13297110508  13297110508  2014  Low Burden  Med Income   95
13297110601  13297110601  2014  Low Burden  Med Income   29
13297110602  13297110602  2014  Low Burden  Med Income   65
13297110603  13297110603  2014  Low Burden  Med Income   94
13297110700  13297110700  2014  Low Burden  Med Income  397
13297110800  13297110800  2014  Low Burden  Med Income  110

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2014Med IncomeLow Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2014,Low Burden,Med Income,45,13013180103
13013180104,13013180104,2014,Low Burden,Med Income,30,13013180104
13013180105,13013180105,2014,Low Burden,Med Income,17,13013180105
13013180106,13013180106,2014,Low Burden,Med Income,18,13013180106
13013180107,13013180107,2014,Low Burden,Med Income,166,13013180107

                  GEOID2  YEAR       RentG      IncomeG  HHs
GEOID
13013180103  13013180103  2014  Low Burden  High Income   38
13013180104  13013180104  2014  Low Burden  High Income   21
13013180105  13013180105  2014  Low Burden  High Income   10
13013180106  13013180106  2014  Low Burden  High Income   18
13013180107  13013180107  2014  Low Burden  High Income   20
13013180108  13013180108  2014  Low Burden  High Income   72
13013180203  13013180203  2014  Low Burden  High Income  114
13013180204  13013180204  2014  Low Burden  High Income   20
13013180205  13013180205  2014  Low Burden  High Income   81
13013180206  13013180206  2014  Low Burden  High Income   29
13013180301  13013180301  2014  Low Burden  High Income    0
13013180302  13013180302  2014  Low Burden  High Income   27
13013180303  13013180303  2014  Low Burden  High Income    0
13013180401  13013180401  2014  Low Burden  High Income   22
13013180402  13013180402  2014  Low Burden  High Income    9
13013180501  13013180501  2014  Low Burden  High Income   52
13013180502  13013180502  2014  Low Burden  High Income   49
13013180503  13013180503  2014  Low Burden  High Income   12
13015960101  13015960101  2014  Low Burden  High Income   40
13015960102  13015960102  2014  Low Burden  High Income    4
13015960200  13015960200  2014  Low Burden  High Income   70
13015960300  13015960300  2014  Low Burden  High Income   97
13015960401  13015960401  2014  Low Burden  High Income  262
13015960402  13015960402  2014  Low Burden  High Income  107
13015960500  13015960500  2014  Low Burden  High Income   77
13015960600  13015960600  2014  Low Burden  High Income  143
13015960700  13015960700  2014  Low Burden  High Income  200
13015960801  13015960801  2014  Low Burden  High Income   22
13015960802  13015960802  2014  Low Burden  High Income    0
13015960803  13015960803  2014  Low Burden  High Income  119
...                  ...   ...         ...          ...  ...
13247060405  13247060405  2014  Low Burden  High Income   72
13247060406  13247060406  2014  Low Burden  High Income  137
13247060407  13247060407  2014  Low Burden  High Income   11
13255160100  13255160100  2014  Low Burden  High Income    0
13255160200  13255160200  2014  Low Burden  High Income    0
13255160300  13255160300  2014  Low Burden  High Income   20
13255160400  13255160400  2014  Low Burden  High Income   72
13255160500  13255160500  2014  Low Burden  High Income  108
13255160600  13255160600  2014  Low Burden  High Income    0
13255160700  13255160700  2014  Low Burden  High Income  137
13255160800  13255160800  2014  Low Burden  High Income   27
13255160900  13255160900  2014  Low Burden  High Income    6
13255161000  13255161000  2014  Low Burden  High Income   19
13255161100  13255161100  2014  Low Burden  High Income   41
13255161200  13255161200  2014  Low Burden  High Income  136
13297110100  13297110100  2014  Low Burden  High Income  112
13297110200  13297110200  2014  Low Burden  High Income   70
13297110300  13297110300  2014  Low Burden  High Income   11
13297110400  13297110400  2014  Low Burden  High Income   14
13297110503  13297110503  2014  Low Burden  High Income    0
13297110504  13297110504  2014  Low Burden  High Income   73
13297110505  13297110505  2014  Low Burden  High Income   21
13297110506  13297110506  2014  Low Burden  High Income   91
13297110507  13297110507  2014  Low Burden  High Income   84
13297110508  13297110508  2014  Low Burden  High Income   12
13297110601  13297110601  2014  Low Burden  High Income   56
13297110602  13297110602  2014  Low Burden  High Income   81
13297110603  13297110603  2014  Low Burden  High Income    5
13297110700  13297110700  2014  Low Burden  High Income   61
13297110800  13297110800  2014  Low Burden  High Income   71

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2014High IncomeLow Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2014,Low Burden,High Income,38,13013180103
13013180104,13013180104,2014,Low Burden,High Income,21,13013180104
13013180105,13013180105,2014,Low Burden,High Income,10,13013180105
13013180106,13013180106,2014,Low Burden,High Income,18,13013180106
13013180107,13013180107,2014,Low Burden,High Income,20,13013180107

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2014  Med Burden  Low Income    0
13013180104  13013180104  2014  Med Burden  Low Income   32
13013180105  13013180105  2014  Med Burden  Low Income   25
13013180106  13013180106  2014  Med Burden  Low Income   18
13013180107  13013180107  2014  Med Burden  Low Income   78
13013180108  13013180108  2014  Med Burden  Low Income   13
13013180203  13013180203  2014  Med Burden  Low Income  157
13013180204  13013180204  2014  Med Burden  Low Income   95
13013180205  13013180205  2014  Med Burden  Low Income   71
13013180206  13013180206  2014  Med Burden  Low Income   50
13013180301  13013180301  2014  Med Burden  Low Income   14
13013180302  13013180302  2014  Med Burden  Low Income  115
13013180303  13013180303  2014  Med Burden  Low Income   20
13013180401  13013180401  2014  Med Burden  Low Income   28
13013180402  13013180402  2014  Med Burden  Low Income   78
13013180501  13013180501  2014  Med Burden  Low Income   22
13013180502  13013180502  2014  Med Burden  Low Income   56
13013180503  13013180503  2014  Med Burden  Low Income   85
13015960101  13015960101  2014  Med Burden  Low Income    9
13015960102  13015960102  2014  Med Burden  Low Income   51
13015960200  13015960200  2014  Med Burden  Low Income  215
13015960300  13015960300  2014  Med Burden  Low Income   86
13015960401  13015960401  2014  Med Burden  Low Income  530
13015960402  13015960402  2014  Med Burden  Low Income  267
13015960500  13015960500  2014  Med Burden  Low Income  167
13015960600  13015960600  2014  Med Burden  Low Income  356
13015960700  13015960700  2014  Med Burden  Low Income  300
13015960801  13015960801  2014  Med Burden  Low Income   18
13015960802  13015960802  2014  Med Burden  Low Income   88
13015960803  13015960803  2014  Med Burden  Low Income  164
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2014  Med Burden  Low Income   28
13247060406  13247060406  2014  Med Burden  Low Income   72
13247060407  13247060407  2014  Med Burden  Low Income    0
13255160100  13255160100  2014  Med Burden  Low Income  112
13255160200  13255160200  2014  Med Burden  Low Income   61
13255160300  13255160300  2014  Med Burden  Low Income   74
13255160400  13255160400  2014  Med Burden  Low Income  343
13255160500  13255160500  2014  Med Burden  Low Income  269
13255160600  13255160600  2014  Med Burden  Low Income   63
13255160700  13255160700  2014  Med Burden  Low Income  192
13255160800  13255160800  2014  Med Burden  Low Income  218
13255160900  13255160900  2014  Med Burden  Low Income   79
13255161000  13255161000  2014  Med Burden  Low Income   21
13255161100  13255161100  2014  Med Burden  Low Income   67
13255161200  13255161200  2014  Med Burden  Low Income   97
13297110100  13297110100  2014  Med Burden  Low Income  156
13297110200  13297110200  2014  Med Burden  Low Income    5
13297110300  13297110300  2014  Med Burden  Low Income  171
13297110400  13297110400  2014  Med Burden  Low Income  267
13297110503  13297110503  2014  Med Burden  Low Income    9
13297110504  13297110504  2014  Med Burden  Low Income  187
13297110505  13297110505  2014  Med Burden  Low Income    0
13297110506  13297110506  2014  Med Burden  Low Income   44
13297110507  13297110507  2014  Med Burden  Low Income    0
13297110508  13297110508  2014  Med Burden  Low Income   24
13297110601  13297110601  2014  Med Burden  Low Income    0
13297110602  13297110602  2014  Med Burden  Low Income   10
13297110603  13297110603  2014  Med Burden  Low Income   75
13297110700  13297110700  2014  Med Burden  Low Income  109
13297110800  13297110800  2014  Med Burden  Low Income   58

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2014Low IncomeMed Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2014,Med Burden,Low Income,0,13013180103
13013180104,13013180104,2014,Med Burden,Low Income,32,13013180104
13013180105,13013180105,2014,Med Burden,Low Income,25,13013180105
13013180106,13013180106,2014,Med Burden,Low Income,18,13013180106
13013180107,13013180107,2014,Med Burden,Low Income,78,13013180107

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2014  Med Burden  Med Income   26
13013180104  13013180104  2014  Med Burden  Med Income    6
13013180105  13013180105  2014  Med Burden  Med Income    5
13013180106  13013180106  2014  Med Burden  Med Income    0
13013180107  13013180107  2014  Med Burden  Med Income    2
13013180108  13013180108  2014  Med Burden  Med Income    0
13013180203  13013180203  2014  Med Burden  Med Income   29
13013180204  13013180204  2014  Med Burden  Med Income   47
13013180205  13013180205  2014  Med Burden  Med Income   39
13013180206  13013180206  2014  Med Burden  Med Income  147
13013180301  13013180301  2014  Med Burden  Med Income   31
13013180302  13013180302  2014  Med Burden  Med Income   17
13013180303  13013180303  2014  Med Burden  Med Income   61
13013180401  13013180401  2014  Med Burden  Med Income    0
13013180402  13013180402  2014  Med Burden  Med Income   60
13013180501  13013180501  2014  Med Burden  Med Income   36
13013180502  13013180502  2014  Med Burden  Med Income    5
13013180503  13013180503  2014  Med Burden  Med Income    7
13015960101  13015960101  2014  Med Burden  Med Income    0
13015960102  13015960102  2014  Med Burden  Med Income   31
13015960200  13015960200  2014  Med Burden  Med Income   25
13015960300  13015960300  2014  Med Burden  Med Income    5
13015960401  13015960401  2014  Med Burden  Med Income   47
13015960402  13015960402  2014  Med Burden  Med Income    0
13015960500  13015960500  2014  Med Burden  Med Income   88
13015960600  13015960600  2014  Med Burden  Med Income   93
13015960700  13015960700  2014  Med Burden  Med Income  112
13015960801  13015960801  2014  Med Burden  Med Income   24
13015960802  13015960802  2014  Med Burden  Med Income    9
13015960803  13015960803  2014  Med Burden  Med Income    5
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2014  Med Burden  Med Income    0
13247060406  13247060406  2014  Med Burden  Med Income   87
13247060407  13247060407  2014  Med Burden  Med Income    4
13255160100  13255160100  2014  Med Burden  Med Income   46
13255160200  13255160200  2014  Med Burden  Med Income    0
13255160300  13255160300  2014  Med Burden  Med Income   10
13255160400  13255160400  2014  Med Burden  Med Income   13
13255160500  13255160500  2014  Med Burden  Med Income   53
13255160600  13255160600  2014  Med Burden  Med Income   17
13255160700  13255160700  2014  Med Burden  Med Income    0
13255160800  13255160800  2014  Med Burden  Med Income   26
13255160900  13255160900  2014  Med Burden  Med Income   11
13255161000  13255161000  2014  Med Burden  Med Income   33
13255161100  13255161100  2014  Med Burden  Med Income   52
13255161200  13255161200  2014  Med Burden  Med Income  134
13297110100  13297110100  2014  Med Burden  Med Income    0
13297110200  13297110200  2014  Med Burden  Med Income    1
13297110300  13297110300  2014  Med Burden  Med Income   38
13297110400  13297110400  2014  Med Burden  Med Income   27
13297110503  13297110503  2014  Med Burden  Med Income   45
13297110504  13297110504  2014  Med Burden  Med Income   54
13297110505  13297110505  2014  Med Burden  Med Income    8
13297110506  13297110506  2014  Med Burden  Med Income   46
13297110507  13297110507  2014  Med Burden  Med Income   34
13297110508  13297110508  2014  Med Burden  Med Income    0
13297110601  13297110601  2014  Med Burden  Med Income    0
13297110602  13297110602  2014  Med Burden  Med Income   40
13297110603  13297110603  2014  Med Burden  Med Income   30
13297110700  13297110700  2014  Med Burden  Med Income    0
13297110800  13297110800  2014  Med Burden  Med Income   55

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2014Med IncomeMed Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2014,Med Burden,Med Income,26,13013180103
13013180104,13013180104,2014,Med Burden,Med Income,6,13013180104
13013180105,13013180105,2014,Med Burden,Med Income,5,13013180105
13013180106,13013180106,2014,Med Burden,Med Income,0,13013180106
13013180107,13013180107,2014,Med Burden,Med Income,2,13013180107

                  GEOID2  YEAR       RentG      IncomeG  HHs
GEOID
13013180103  13013180103  2014  Med Burden  High Income    0
13013180104  13013180104  2014  Med Burden  High Income    0
13013180105  13013180105  2014  Med Burden  High Income    0
13013180106  13013180106  2014  Med Burden  High Income    0
13013180107  13013180107  2014  Med Burden  High Income    0
13013180108  13013180108  2014  Med Burden  High Income    2
13013180203  13013180203  2014  Med Burden  High Income    0
13013180204  13013180204  2014  Med Burden  High Income    0
13013180205  13013180205  2014  Med Burden  High Income    0
13013180206  13013180206  2014  Med Burden  High Income    0
13013180301  13013180301  2014  Med Burden  High Income    0
13013180302  13013180302  2014  Med Burden  High Income    0
13013180303  13013180303  2014  Med Burden  High Income    0
13013180401  13013180401  2014  Med Burden  High Income    0
13013180402  13013180402  2014  Med Burden  High Income    0
13013180501  13013180501  2014  Med Burden  High Income    0
13013180502  13013180502  2014  Med Burden  High Income    5
13013180503  13013180503  2014  Med Burden  High Income    0
13015960101  13015960101  2014  Med Burden  High Income    0
13015960102  13015960102  2014  Med Burden  High Income    0
13015960200  13015960200  2014  Med Burden  High Income    0
13015960300  13015960300  2014  Med Burden  High Income    0
13015960401  13015960401  2014  Med Burden  High Income    0
13015960402  13015960402  2014  Med Burden  High Income    0
13015960500  13015960500  2014  Med Burden  High Income    0
13015960600  13015960600  2014  Med Burden  High Income    0
13015960700  13015960700  2014  Med Burden  High Income    0
13015960801  13015960801  2014  Med Burden  High Income    0
13015960802  13015960802  2014  Med Burden  High Income    0
13015960803  13015960803  2014  Med Burden  High Income    0
...                  ...   ...         ...          ...  ...
13247060405  13247060405  2014  Med Burden  High Income    0
13247060406  13247060406  2014  Med Burden  High Income    0
13247060407  13247060407  2014  Med Burden  High Income    0
13255160100  13255160100  2014  Med Burden  High Income    0
13255160200  13255160200  2014  Med Burden  High Income    0
13255160300  13255160300  2014  Med Burden  High Income    0
13255160400  13255160400  2014  Med Burden  High Income    0
13255160500  13255160500  2014  Med Burden  High Income    0
13255160600  13255160600  2014  Med Burden  High Income    0
13255160700  13255160700  2014  Med Burden  High Income    0
13255160800  13255160800  2014  Med Burden  High Income    0
13255160900  13255160900  2014  Med Burden  High Income    0
13255161000  13255161000  2014  Med Burden  High Income    0
13255161100  13255161100  2014  Med Burden  High Income    0
13255161200  13255161200  2014  Med Burden  High Income    0
13297110100  13297110100  2014  Med Burden  High Income    0
13297110200  13297110200  2014  Med Burden  High Income    0
13297110300  13297110300  2014  Med Burden  High Income    0
13297110400  13297110400  2014  Med Burden  High Income    0
13297110503  13297110503  2014  Med Burden  High Income    0
13297110504  13297110504  2014  Med Burden  High Income    0
13297110505  13297110505  2014  Med Burden  High Income    0
13297110506  13297110506  2014  Med Burden  High Income    0
13297110507  13297110507  2014  Med Burden  High Income    0
13297110508  13297110508  2014  Med Burden  High Income    0
13297110601  13297110601  2014  Med Burden  High Income    0
13297110602  13297110602  2014  Med Burden  High Income    0
13297110603  13297110603  2014  Med Burden  High Income    0
13297110700  13297110700  2014  Med Burden  High Income   13
13297110800  13297110800  2014  Med Burden  High Income    0

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2014High IncomeMed Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2014,Med Burden,High Income,0,13013180103
13013180104,13013180104,2014,Med Burden,High Income,0,13013180104
13013180105,13013180105,2014,Med Burden,High Income,0,13013180105
13013180106,13013180106,2014,Med Burden,High Income,0,13013180106
13013180107,13013180107,2014,Med Burden,High Income,0,13013180107

                  GEOID2  YEAR        RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2014  High Burden  Low Income    0
13013180104  13013180104  2014  High Burden  Low Income   23
13013180105  13013180105  2014  High Burden  Low Income    4
13013180106  13013180106  2014  High Burden  Low Income   70
13013180107  13013180107  2014  High Burden  Low Income  156
13013180108  13013180108  2014  High Burden  Low Income   46
13013180203  13013180203  2014  High Burden  Low Income   58
13013180204  13013180204  2014  High Burden  Low Income   66
13013180205  13013180205  2014  High Burden  Low Income  215
13013180206  13013180206  2014  High Burden  Low Income   41
13013180301  13013180301  2014  High Burden  Low Income    9
13013180302  13013180302  2014  High Burden  Low Income    0
13013180303  13013180303  2014  High Burden  Low Income   43
13013180401  13013180401  2014  High Burden  Low Income   53
13013180402  13013180402  2014  High Burden  Low Income   96
13013180501  13013180501  2014  High Burden  Low Income   84
13013180502  13013180502  2014  High Burden  Low Income  118
13013180503  13013180503  2014  High Burden  Low Income    0
13015960101  13015960101  2014  High Burden  Low Income   19
13015960102  13015960102  2014  High Burden  Low Income  100
13015960200  13015960200  2014  High Burden  Low Income  212
13015960300  13015960300  2014  High Burden  Low Income   56
13015960401  13015960401  2014  High Burden  Low Income  249
13015960402  13015960402  2014  High Burden  Low Income  304
13015960500  13015960500  2014  High Burden  Low Income  332
13015960600  13015960600  2014  High Burden  Low Income  399
13015960700  13015960700  2014  High Burden  Low Income  248
13015960801  13015960801  2014  High Burden  Low Income  106
13015960802  13015960802  2014  High Burden  Low Income   66
13015960803  13015960803  2014  High Burden  Low Income  125
...                  ...   ...          ...         ...  ...
13247060405  13247060405  2014  High Burden  Low Income   11
13247060406  13247060406  2014  High Burden  Low Income   32
13247060407  13247060407  2014  High Burden  Low Income   52
13255160100  13255160100  2014  High Burden  Low Income   82
13255160200  13255160200  2014  High Burden  Low Income  243
13255160300  13255160300  2014  High Burden  Low Income  268
13255160400  13255160400  2014  High Burden  Low Income  314
13255160500  13255160500  2014  High Burden  Low Income  322
13255160600  13255160600  2014  High Burden  Low Income   64
13255160700  13255160700  2014  High Burden  Low Income  493
13255160800  13255160800  2014  High Burden  Low Income  423
13255160900  13255160900  2014  High Burden  Low Income  160
13255161000  13255161000  2014  High Burden  Low Income   77
13255161100  13255161100  2014  High Burden  Low Income   69
13255161200  13255161200  2014  High Burden  Low Income  206
13297110100  13297110100  2014  High Burden  Low Income   26
13297110200  13297110200  2014  High Burden  Low Income  136
13297110300  13297110300  2014  High Burden  Low Income  437
13297110400  13297110400  2014  High Burden  Low Income  442
13297110503  13297110503  2014  High Burden  Low Income   84
13297110504  13297110504  2014  High Burden  Low Income  217
13297110505  13297110505  2014  High Burden  Low Income   27
13297110506  13297110506  2014  High Burden  Low Income   13
13297110507  13297110507  2014  High Burden  Low Income  112
13297110508  13297110508  2014  High Burden  Low Income   83
13297110601  13297110601  2014  High Burden  Low Income    0
13297110602  13297110602  2014  High Burden  Low Income   88
13297110603  13297110603  2014  High Burden  Low Income   86
13297110700  13297110700  2014  High Burden  Low Income  186
13297110800  13297110800  2014  High Burden  Low Income  196

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2014Low IncomeHigh Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2014,High Burden,Low Income,0,13013180103
13013180104,13013180104,2014,High Burden,Low Income,23,13013180104
13013180105,13013180105,2014,High Burden,Low Income,4,13013180105
13013180106,13013180106,2014,High Burden,Low Income,70,13013180106
13013180107,13013180107,2014,High Burden,Low Income,156,13013180107

                  GEOID2  YEAR        RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2014  High Burden  Med Income    0
13013180104  13013180104  2014  High Burden  Med Income    0
13013180105  13013180105  2014  High Burden  Med Income    0
13013180106  13013180106  2014  High Burden  Med Income    0
13013180107  13013180107  2014  High Burden  Med Income    0
13013180108  13013180108  2014  High Burden  Med Income    0
13013180203  13013180203  2014  High Burden  Med Income    0
13013180204  13013180204  2014  High Burden  Med Income    0
13013180205  13013180205  2014  High Burden  Med Income   23
13013180206  13013180206  2014  High Burden  Med Income    0
13013180301  13013180301  2014  High Burden  Med Income    0
13013180302  13013180302  2014  High Burden  Med Income    0
13013180303  13013180303  2014  High Burden  Med Income    0
13013180401  13013180401  2014  High Burden  Med Income    0
13013180402  13013180402  2014  High Burden  Med Income    0
13013180501  13013180501  2014  High Burden  Med Income    0
13013180502  13013180502  2014  High Burden  Med Income    0
13013180503  13013180503  2014  High Burden  Med Income    0
13015960101  13015960101  2014  High Burden  Med Income    0
13015960102  13015960102  2014  High Burden  Med Income    0
13015960200  13015960200  2014  High Burden  Med Income    0
13015960300  13015960300  2014  High Burden  Med Income    0
13015960401  13015960401  2014  High Burden  Med Income    0
13015960402  13015960402  2014  High Burden  Med Income    0
13015960500  13015960500  2014  High Burden  Med Income    0
13015960600  13015960600  2014  High Burden  Med Income    0
13015960700  13015960700  2014  High Burden  Med Income    0
13015960801  13015960801  2014  High Burden  Med Income    0
13015960802  13015960802  2014  High Burden  Med Income    0
13015960803  13015960803  2014  High Burden  Med Income    0
...                  ...   ...          ...         ...  ...
13247060405  13247060405  2014  High Burden  Med Income    0
13247060406  13247060406  2014  High Burden  Med Income    0
13247060407  13247060407  2014  High Burden  Med Income    0
13255160100  13255160100  2014  High Burden  Med Income    0
13255160200  13255160200  2014  High Burden  Med Income    0
13255160300  13255160300  2014  High Burden  Med Income    0
13255160400  13255160400  2014  High Burden  Med Income    0
13255160500  13255160500  2014  High Burden  Med Income    0
13255160600  13255160600  2014  High Burden  Med Income    0
13255160700  13255160700  2014  High Burden  Med Income    0
13255160800  13255160800  2014  High Burden  Med Income    0
13255160900  13255160900  2014  High Burden  Med Income    0
13255161000  13255161000  2014  High Burden  Med Income    0
13255161100  13255161100  2014  High Burden  Med Income    0
13255161200  13255161200  2014  High Burden  Med Income    0
13297110100  13297110100  2014  High Burden  Med Income    0
13297110200  13297110200  2014  High Burden  Med Income    0
13297110300  13297110300  2014  High Burden  Med Income    0
13297110400  13297110400  2014  High Burden  Med Income    0
13297110503  13297110503  2014  High Burden  Med Income    0
13297110504  13297110504  2014  High Burden  Med Income    0
13297110505  13297110505  2014  High Burden  Med Income    0
13297110506  13297110506  2014  High Burden  Med Income    0
13297110507  13297110507  2014  High Burden  Med Income   22
13297110508  13297110508  2014  High Burden  Med Income    0
13297110601  13297110601  2014  High Burden  Med Income    0
13297110602  13297110602  2014  High Burden  Med Income    0
13297110603  13297110603  2014  High Burden  Med Income    0
13297110700  13297110700  2014  High Burden  Med Income   36
13297110800  13297110800  2014  High Burden  Med Income    0

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2014Med IncomeHigh Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2014,High Burden,Med Income,0,13013180103
13013180104,13013180104,2014,High Burden,Med Income,0,13013180104
13013180105,13013180105,2014,High Burden,Med Income,0,13013180105
13013180106,13013180106,2014,High Burden,Med Income,0,13013180106
13013180107,13013180107,2014,High Burden,Med Income,0,13013180107

                  GEOID2  YEAR        RentG      IncomeG  HHs
GEOID
13013180103  13013180103  2014  High Burden  High Income    0
13013180104  13013180104  2014  High Burden  High Income    0
13013180105  13013180105  2014  High Burden  High Income    0
13013180106  13013180106  2014  High Burden  High Income    0
13013180107  13013180107  2014  High Burden  High Income    0
13013180108  13013180108  2014  High Burden  High Income    0
13013180203  13013180203  2014  High Burden  High Income    0
13013180204  13013180204  2014  High Burden  High Income    0
13013180205  13013180205  2014  High Burden  High Income    0
13013180206  13013180206  2014  High Burden  High Income    0
13013180301  13013180301  2014  High Burden  High Income    0
13013180302  13013180302  2014  High Burden  High Income    0
13013180303  13013180303  2014  High Burden  High Income    0
13013180401  13013180401  2014  High Burden  High Income    0
13013180402  13013180402  2014  High Burden  High Income    0
13013180501  13013180501  2014  High Burden  High Income    0
13013180502  13013180502  2014  High Burden  High Income    0
13013180503  13013180503  2014  High Burden  High Income    0
13015960101  13015960101  2014  High Burden  High Income    0
13015960102  13015960102  2014  High Burden  High Income    0
13015960200  13015960200  2014  High Burden  High Income    0
13015960300  13015960300  2014  High Burden  High Income    0
13015960401  13015960401  2014  High Burden  High Income    0
13015960402  13015960402  2014  High Burden  High Income    0
13015960500  13015960500  2014  High Burden  High Income    0
13015960600  13015960600  2014  High Burden  High Income    0
13015960700  13015960700  2014  High Burden  High Income    0
13015960801  13015960801  2014  High Burden  High Income    0
13015960802  13015960802  2014  High Burden  High Income    0
13015960803  13015960803  2014  High Burden  High Income    0
...                  ...   ...          ...          ...  ...
13247060405  13247060405  2014  High Burden  High Income    0
13247060406  13247060406  2014  High Burden  High Income    0
13247060407  13247060407  2014  High Burden  High Income    0
13255160100  13255160100  2014  High Burden  High Income    0
13255160200  13255160200  2014  High Burden  High Income    0
13255160300  13255160300  2014  High Burden  High Income    0
13255160400  13255160400  2014  High Burden  High Income    0
13255160500  13255160500  2014  High Burden  High Income    0
13255160600  13255160600  2014  High Burden  High Income    0
13255160700  13255160700  2014  High Burden  High Income    0
13255160800  13255160800  2014  High Burden  High Income    0
13255160900  13255160900  2014  High Burden  High Income    0
13255161000  13255161000  2014  High Burden  High Income    0
13255161100  13255161100  2014  High Burden  High Income    0
13255161200  13255161200  2014  High Burden  High Income    0
13297110100  13297110100  2014  High Burden  High Income    0
13297110200  13297110200  2014  High Burden  High Income    0
13297110300  13297110300  2014  High Burden  High Income    0
13297110400  13297110400  2014  High Burden  High Income    0
13297110503  13297110503  2014  High Burden  High Income    0
13297110504  13297110504  2014  High Burden  High Income    0
13297110505  13297110505  2014  High Burden  High Income    0
13297110506  13297110506  2014  High Burden  High Income    0
13297110507  13297110507  2014  High Burden  High Income    0
13297110508  13297110508  2014  High Burden  High Income    0
13297110601  13297110601  2014  High Burden  High Income    0
13297110602  13297110602  2014  High Burden  High Income    0
13297110603  13297110603  2014  High Burden  High Income    0
13297110700  13297110700  2014  High Burden  High Income    0
13297110800  13297110800  2014  High Burden  High Income    0

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2014High IncomeHigh Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2014,High Burden,High Income,0,13013180103
13013180104,13013180104,2014,High Burden,High Income,0,13013180104
13013180105,13013180105,2014,High Burden,High Income,0,13013180105
13013180106,13013180106,2014,High Burden,High Income,0,13013180106
13013180107,13013180107,2014,High Burden,High Income,0,13013180107

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2015  Low Burden  Low Income    0
13013180104  13013180104  2015  Low Burden  Low Income    6
13013180105  13013180105  2015  Low Burden  Low Income    0
13013180106  13013180106  2015  Low Burden  Low Income   39
13013180107  13013180107  2015  Low Burden  Low Income    0
13013180108  13013180108  2015  Low Burden  Low Income   15
13013180203  13013180203  2015  Low Burden  Low Income   81
13013180204  13013180204  2015  Low Burden  Low Income   36
13013180205  13013180205  2015  Low Burden  Low Income   71
13013180206  13013180206  2015  Low Burden  Low Income   21
13013180301  13013180301  2015  Low Burden  Low Income    6
13013180302  13013180302  2015  Low Burden  Low Income    0
13013180303  13013180303  2015  Low Burden  Low Income    0
13013180401  13013180401  2015  Low Burden  Low Income   15
13013180402  13013180402  2015  Low Burden  Low Income   56
13013180501  13013180501  2015  Low Burden  Low Income   20
13013180502  13013180502  2015  Low Burden  Low Income   23
13013180503  13013180503  2015  Low Burden  Low Income    0
13015960101  13015960101  2015  Low Burden  Low Income    0
13015960102  13015960102  2015  Low Burden  Low Income   54
13015960200  13015960200  2015  Low Burden  Low Income  209
13015960300  13015960300  2015  Low Burden  Low Income   29
13015960401  13015960401  2015  Low Burden  Low Income   90
13015960402  13015960402  2015  Low Burden  Low Income  124
13015960500  13015960500  2015  Low Burden  Low Income   58
13015960600  13015960600  2015  Low Burden  Low Income   40
13015960700  13015960700  2015  Low Burden  Low Income   47
13015960801  13015960801  2015  Low Burden  Low Income   11
13015960802  13015960802  2015  Low Burden  Low Income   25
13015960803  13015960803  2015  Low Burden  Low Income    9
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2015  Low Burden  Low Income    0
13247060406  13247060406  2015  Low Burden  Low Income    0
13247060407  13247060407  2015  Low Burden  Low Income   64
13255160100  13255160100  2015  Low Burden  Low Income    5
13255160200  13255160200  2015  Low Burden  Low Income   59
13255160300  13255160300  2015  Low Burden  Low Income   31
13255160400  13255160400  2015  Low Burden  Low Income   98
13255160500  13255160500  2015  Low Burden  Low Income   41
13255160600  13255160600  2015  Low Burden  Low Income    7
13255160700  13255160700  2015  Low Burden  Low Income   79
13255160800  13255160800  2015  Low Burden  Low Income  241
13255160900  13255160900  2015  Low Burden  Low Income   15
13255161000  13255161000  2015  Low Burden  Low Income   11
13255161100  13255161100  2015  Low Burden  Low Income    7
13255161200  13255161200  2015  Low Burden  Low Income  190
13297110100  13297110100  2015  Low Burden  Low Income   29
13297110200  13297110200  2015  Low Burden  Low Income   54
13297110300  13297110300  2015  Low Burden  Low Income  175
13297110400  13297110400  2015  Low Burden  Low Income  119
13297110503  13297110503  2015  Low Burden  Low Income    0
13297110504  13297110504  2015  Low Burden  Low Income    0
13297110505  13297110505  2015  Low Burden  Low Income    0
13297110506  13297110506  2015  Low Burden  Low Income    0
13297110507  13297110507  2015  Low Burden  Low Income    0
13297110508  13297110508  2015  Low Burden  Low Income    0
13297110601  13297110601  2015  Low Burden  Low Income    0
13297110602  13297110602  2015  Low Burden  Low Income   10
13297110603  13297110603  2015  Low Burden  Low Income    0
13297110700  13297110700  2015  Low Burden  Low Income   57
13297110800  13297110800  2015  Low Burden  Low Income   88

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2015Low IncomeLow Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2015,Low Burden,Low Income,0,13013180103
13013180104,13013180104,2015,Low Burden,Low Income,6,13013180104
13013180105,13013180105,2015,Low Burden,Low Income,0,13013180105
13013180106,13013180106,2015,Low Burden,Low Income,39,13013180106
13013180107,13013180107,2015,Low Burden,Low Income,0,13013180107

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2015  Low Burden  Med Income   30
13013180104  13013180104  2015  Low Burden  Med Income   31
13013180105  13013180105  2015  Low Burden  Med Income   25
13013180106  13013180106  2015  Low Burden  Med Income   62
13013180107  13013180107  2015  Low Burden  Med Income  136
13013180108  13013180108  2015  Low Burden  Med Income   94
13013180203  13013180203  2015  Low Burden  Med Income  148
13013180204  13013180204  2015  Low Burden  Med Income  132
13013180205  13013180205  2015  Low Burden  Med Income  131
13013180206  13013180206  2015  Low Burden  Med Income  124
13013180301  13013180301  2015  Low Burden  Med Income   37
13013180302  13013180302  2015  Low Burden  Med Income  317
13013180303  13013180303  2015  Low Burden  Med Income   62
13013180401  13013180401  2015  Low Burden  Med Income  189
13013180402  13013180402  2015  Low Burden  Med Income  161
13013180501  13013180501  2015  Low Burden  Med Income   69
13013180502  13013180502  2015  Low Burden  Med Income   32
13013180503  13013180503  2015  Low Burden  Med Income   37
13015960101  13015960101  2015  Low Burden  Med Income   48
13015960102  13015960102  2015  Low Burden  Med Income  125
13015960200  13015960200  2015  Low Burden  Med Income  388
13015960300  13015960300  2015  Low Burden  Med Income   62
13015960401  13015960401  2015  Low Burden  Med Income  507
13015960402  13015960402  2015  Low Burden  Med Income  499
13015960500  13015960500  2015  Low Burden  Med Income  483
13015960600  13015960600  2015  Low Burden  Med Income  465
13015960700  13015960700  2015  Low Burden  Med Income  722
13015960801  13015960801  2015  Low Burden  Med Income  144
13015960802  13015960802  2015  Low Burden  Med Income  104
13015960803  13015960803  2015  Low Burden  Med Income  197
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2015  Low Burden  Med Income   24
13247060406  13247060406  2015  Low Burden  Med Income    8
13247060407  13247060407  2015  Low Burden  Med Income   43
13255160100  13255160100  2015  Low Burden  Med Income  155
13255160200  13255160200  2015  Low Burden  Med Income   26
13255160300  13255160300  2015  Low Burden  Med Income   35
13255160400  13255160400  2015  Low Burden  Med Income  183
13255160500  13255160500  2015  Low Burden  Med Income  181
13255160600  13255160600  2015  Low Burden  Med Income   80
13255160700  13255160700  2015  Low Burden  Med Income  354
13255160800  13255160800  2015  Low Burden  Med Income  177
13255160900  13255160900  2015  Low Burden  Med Income  197
13255161000  13255161000  2015  Low Burden  Med Income   90
13255161100  13255161100  2015  Low Burden  Med Income  204
13255161200  13255161200  2015  Low Burden  Med Income   96
13297110100  13297110100  2015  Low Burden  Med Income  155
13297110200  13297110200  2015  Low Burden  Med Income   29
13297110300  13297110300  2015  Low Burden  Med Income  378
13297110400  13297110400  2015  Low Burden  Med Income  177
13297110503  13297110503  2015  Low Burden  Med Income   21
13297110504  13297110504  2015  Low Burden  Med Income   74
13297110505  13297110505  2015  Low Burden  Med Income   97
13297110506  13297110506  2015  Low Burden  Med Income   75
13297110507  13297110507  2015  Low Burden  Med Income   88
13297110508  13297110508  2015  Low Burden  Med Income  129
13297110601  13297110601  2015  Low Burden  Med Income   19
13297110602  13297110602  2015  Low Burden  Med Income   88
13297110603  13297110603  2015  Low Burden  Med Income  150
13297110700  13297110700  2015  Low Burden  Med Income  449
13297110800  13297110800  2015  Low Burden  Med Income  114

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2015Med IncomeLow Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2015,Low Burden,Med Income,30,13013180103
13013180104,13013180104,2015,Low Burden,Med Income,31,13013180104
13013180105,13013180105,2015,Low Burden,Med Income,25,13013180105
13013180106,13013180106,2015,Low Burden,Med Income,62,13013180106
13013180107,13013180107,2015,Low Burden,Med Income,136,13013180107

                  GEOID2  YEAR       RentG      IncomeG  HHs
GEOID
13013180103  13013180103  2015  Low Burden  High Income  100
13013180104  13013180104  2015  Low Burden  High Income   21
13013180105  13013180105  2015  Low Burden  High Income    9
13013180106  13013180106  2015  Low Burden  High Income   61
13013180107  13013180107  2015  Low Burden  High Income   19
13013180108  13013180108  2015  Low Burden  High Income   74
13013180203  13013180203  2015  Low Burden  High Income  115
13013180204  13013180204  2015  Low Burden  High Income   17
13013180205  13013180205  2015  Low Burden  High Income  104
13013180206  13013180206  2015  Low Burden  High Income   74
13013180301  13013180301  2015  Low Burden  High Income    0
13013180302  13013180302  2015  Low Burden  High Income   39
13013180303  13013180303  2015  Low Burden  High Income   27
13013180401  13013180401  2015  Low Burden  High Income    6
13013180402  13013180402  2015  Low Burden  High Income   11
13013180501  13013180501  2015  Low Burden  High Income   86
13013180502  13013180502  2015  Low Burden  High Income   70
13013180503  13013180503  2015  Low Burden  High Income   29
13015960101  13015960101  2015  Low Burden  High Income   44
13015960102  13015960102  2015  Low Burden  High Income   33
13015960200  13015960200  2015  Low Burden  High Income  109
13015960300  13015960300  2015  Low Burden  High Income  104
13015960401  13015960401  2015  Low Burden  High Income  349
13015960402  13015960402  2015  Low Burden  High Income  123
13015960500  13015960500  2015  Low Burden  High Income  106
13015960600  13015960600  2015  Low Burden  High Income  146
13015960700  13015960700  2015  Low Burden  High Income  170
13015960801  13015960801  2015  Low Burden  High Income   25
13015960802  13015960802  2015  Low Burden  High Income    0
13015960803  13015960803  2015  Low Burden  High Income   95
...                  ...   ...         ...          ...  ...
13247060405  13247060405  2015  Low Burden  High Income  119
13247060406  13247060406  2015  Low Burden  High Income  118
13247060407  13247060407  2015  Low Burden  High Income    0
13255160100  13255160100  2015  Low Burden  High Income   29
13255160200  13255160200  2015  Low Burden  High Income    0
13255160300  13255160300  2015  Low Burden  High Income   11
13255160400  13255160400  2015  Low Burden  High Income   66
13255160500  13255160500  2015  Low Burden  High Income  111
13255160600  13255160600  2015  Low Burden  High Income    0
13255160700  13255160700  2015  Low Burden  High Income   98
13255160800  13255160800  2015  Low Burden  High Income   81
13255160900  13255160900  2015  Low Burden  High Income   18
13255161000  13255161000  2015  Low Burden  High Income   12
13255161100  13255161100  2015  Low Burden  High Income   78
13255161200  13255161200  2015  Low Burden  High Income  126
13297110100  13297110100  2015  Low Burden  High Income   92
13297110200  13297110200  2015  Low Burden  High Income   34
13297110300  13297110300  2015  Low Burden  High Income   26
13297110400  13297110400  2015  Low Burden  High Income   24
13297110503  13297110503  2015  Low Burden  High Income    0
13297110504  13297110504  2015  Low Burden  High Income   88
13297110505  13297110505  2015  Low Burden  High Income   26
13297110506  13297110506  2015  Low Burden  High Income   86
13297110507  13297110507  2015  Low Burden  High Income  136
13297110508  13297110508  2015  Low Burden  High Income    7
13297110601  13297110601  2015  Low Burden  High Income   53
13297110602  13297110602  2015  Low Burden  High Income  108
13297110603  13297110603  2015  Low Burden  High Income   14
13297110700  13297110700  2015  Low Burden  High Income   64
13297110800  13297110800  2015  Low Burden  High Income   69

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2015High IncomeLow Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2015,Low Burden,High Income,100,13013180103
13013180104,13013180104,2015,Low Burden,High Income,21,13013180104
13013180105,13013180105,2015,Low Burden,High Income,9,13013180105
13013180106,13013180106,2015,Low Burden,High Income,61,13013180106
13013180107,13013180107,2015,Low Burden,High Income,19,13013180107

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2015  Med Burden  Low Income    0
13013180104  13013180104  2015  Med Burden  Low Income   40
13013180105  13013180105  2015  Med Burden  Low Income   22
13013180106  13013180106  2015  Med Burden  Low Income   23
13013180107  13013180107  2015  Med Burden  Low Income  103
13013180108  13013180108  2015  Med Burden  Low Income   14
13013180203  13013180203  2015  Med Burden  Low Income   98
13013180204  13013180204  2015  Med Burden  Low Income  102
13013180205  13013180205  2015  Med Burden  Low Income   80
13013180206  13013180206  2015  Med Burden  Low Income   48
13013180301  13013180301  2015  Med Burden  Low Income   21
13013180302  13013180302  2015  Med Burden  Low Income   82
13013180303  13013180303  2015  Med Burden  Low Income   19
13013180401  13013180401  2015  Med Burden  Low Income   42
13013180402  13013180402  2015  Med Burden  Low Income   62
13013180501  13013180501  2015  Med Burden  Low Income   32
13013180502  13013180502  2015  Med Burden  Low Income   79
13013180503  13013180503  2015  Med Burden  Low Income  161
13015960101  13015960101  2015  Med Burden  Low Income   12
13015960102  13015960102  2015  Med Burden  Low Income  139
13015960200  13015960200  2015  Med Burden  Low Income  245
13015960300  13015960300  2015  Med Burden  Low Income   76
13015960401  13015960401  2015  Med Burden  Low Income  399
13015960402  13015960402  2015  Med Burden  Low Income  274
13015960500  13015960500  2015  Med Burden  Low Income  191
13015960600  13015960600  2015  Med Burden  Low Income  208
13015960700  13015960700  2015  Med Burden  Low Income  264
13015960801  13015960801  2015  Med Burden  Low Income   12
13015960802  13015960802  2015  Med Burden  Low Income   98
13015960803  13015960803  2015  Med Burden  Low Income  124
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2015  Med Burden  Low Income   27
13247060406  13247060406  2015  Med Burden  Low Income   58
13247060407  13247060407  2015  Med Burden  Low Income    0
13255160100  13255160100  2015  Med Burden  Low Income  181
13255160200  13255160200  2015  Med Burden  Low Income   61
13255160300  13255160300  2015  Med Burden  Low Income   87
13255160400  13255160400  2015  Med Burden  Low Income  326
13255160500  13255160500  2015  Med Burden  Low Income  269
13255160600  13255160600  2015  Med Burden  Low Income   52
13255160700  13255160700  2015  Med Burden  Low Income  214
13255160800  13255160800  2015  Med Burden  Low Income  181
13255160900  13255160900  2015  Med Burden  Low Income  102
13255161000  13255161000  2015  Med Burden  Low Income   15
13255161100  13255161100  2015  Med Burden  Low Income   44
13255161200  13255161200  2015  Med Burden  Low Income   94
13297110100  13297110100  2015  Med Burden  Low Income  106
13297110200  13297110200  2015  Med Burden  Low Income    4
13297110300  13297110300  2015  Med Burden  Low Income  289
13297110400  13297110400  2015  Med Burden  Low Income  276
13297110503  13297110503  2015  Med Burden  Low Income    8
13297110504  13297110504  2015  Med Burden  Low Income  186
13297110505  13297110505  2015  Med Burden  Low Income    0
13297110506  13297110506  2015  Med Burden  Low Income   40
13297110507  13297110507  2015  Med Burden  Low Income    0
13297110508  13297110508  2015  Med Burden  Low Income   34
13297110601  13297110601  2015  Med Burden  Low Income    0
13297110602  13297110602  2015  Med Burden  Low Income   19
13297110603  13297110603  2015  Med Burden  Low Income   71
13297110700  13297110700  2015  Med Burden  Low Income  135
13297110800  13297110800  2015  Med Burden  Low Income   50

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2015Low IncomeMed Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2015,Med Burden,Low Income,0,13013180103
13013180104,13013180104,2015,Med Burden,Low Income,40,13013180104
13013180105,13013180105,2015,Med Burden,Low Income,22,13013180105
13013180106,13013180106,2015,Med Burden,Low Income,23,13013180106
13013180107,13013180107,2015,Med Burden,Low Income,103,13013180107

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2015  Med Burden  Med Income   27
13013180104  13013180104  2015  Med Burden  Med Income    8
13013180105  13013180105  2015  Med Burden  Med Income    7
13013180106  13013180106  2015  Med Burden  Med Income    0
13013180107  13013180107  2015  Med Burden  Med Income    9
13013180108  13013180108  2015  Med Burden  Med Income   10
13013180203  13013180203  2015  Med Burden  Med Income   28
13013180204  13013180204  2015  Med Burden  Med Income   56
13013180205  13013180205  2015  Med Burden  Med Income   36
13013180206  13013180206  2015  Med Burden  Med Income   88
13013180301  13013180301  2015  Med Burden  Med Income   39
13013180302  13013180302  2015  Med Burden  Med Income   26
13013180303  13013180303  2015  Med Burden  Med Income   82
13013180401  13013180401  2015  Med Burden  Med Income    0
13013180402  13013180402  2015  Med Burden  Med Income   63
13013180501  13013180501  2015  Med Burden  Med Income   49
13013180502  13013180502  2015  Med Burden  Med Income    5
13013180503  13013180503  2015  Med Burden  Med Income    0
13015960101  13015960101  2015  Med Burden  Med Income    0
13015960102  13015960102  2015  Med Burden  Med Income   13
13015960200  13015960200  2015  Med Burden  Med Income   13
13015960300  13015960300  2015  Med Burden  Med Income    6
13015960401  13015960401  2015  Med Burden  Med Income   43
13015960402  13015960402  2015  Med Burden  Med Income    1
13015960500  13015960500  2015  Med Burden  Med Income   74
13015960600  13015960600  2015  Med Burden  Med Income  103
13015960700  13015960700  2015  Med Burden  Med Income  102
13015960801  13015960801  2015  Med Burden  Med Income   19
13015960802  13015960802  2015  Med Burden  Med Income   10
13015960803  13015960803  2015  Med Burden  Med Income    6
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2015  Med Burden  Med Income    0
13247060406  13247060406  2015  Med Burden  Med Income   72
13247060407  13247060407  2015  Med Burden  Med Income    5
13255160100  13255160100  2015  Med Burden  Med Income   42
13255160200  13255160200  2015  Med Burden  Med Income    0
13255160300  13255160300  2015  Med Burden  Med Income    8
13255160400  13255160400  2015  Med Burden  Med Income   18
13255160500  13255160500  2015  Med Burden  Med Income   24
13255160600  13255160600  2015  Med Burden  Med Income   18
13255160700  13255160700  2015  Med Burden  Med Income    0
13255160800  13255160800  2015  Med Burden  Med Income   22
13255160900  13255160900  2015  Med Burden  Med Income    9
13255161000  13255161000  2015  Med Burden  Med Income   21
13255161100  13255161100  2015  Med Burden  Med Income   61
13255161200  13255161200  2015  Med Burden  Med Income  133
13297110100  13297110100  2015  Med Burden  Med Income    0
13297110200  13297110200  2015  Med Burden  Med Income    1
13297110300  13297110300  2015  Med Burden  Med Income   39
13297110400  13297110400  2015  Med Burden  Med Income   23
13297110503  13297110503  2015  Med Burden  Med Income   74
13297110504  13297110504  2015  Med Burden  Med Income   84
13297110505  13297110505  2015  Med Burden  Med Income    9
13297110506  13297110506  2015  Med Burden  Med Income   54
13297110507  13297110507  2015  Med Burden  Med Income   69
13297110508  13297110508  2015  Med Burden  Med Income    0
13297110601  13297110601  2015  Med Burden  Med Income    0
13297110602  13297110602  2015  Med Burden  Med Income   39
13297110603  13297110603  2015  Med Burden  Med Income   26
13297110700  13297110700  2015  Med Burden  Med Income    0
13297110800  13297110800  2015  Med Burden  Med Income    5

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2015Med IncomeMed Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2015,Med Burden,Med Income,27,13013180103
13013180104,13013180104,2015,Med Burden,Med Income,8,13013180104
13013180105,13013180105,2015,Med Burden,Med Income,7,13013180105
13013180106,13013180106,2015,Med Burden,Med Income,0,13013180106
13013180107,13013180107,2015,Med Burden,Med Income,9,13013180107

                  GEOID2  YEAR       RentG      IncomeG  HHs
GEOID
13013180103  13013180103  2015  Med Burden  High Income    0
13013180104  13013180104  2015  Med Burden  High Income    0
13013180105  13013180105  2015  Med Burden  High Income    0
13013180106  13013180106  2015  Med Burden  High Income    0
13013180107  13013180107  2015  Med Burden  High Income    0
13013180108  13013180108  2015  Med Burden  High Income    1
13013180203  13013180203  2015  Med Burden  High Income    0
13013180204  13013180204  2015  Med Burden  High Income    0
13013180205  13013180205  2015  Med Burden  High Income    0
13013180206  13013180206  2015  Med Burden  High Income    0
13013180301  13013180301  2015  Med Burden  High Income    0
13013180302  13013180302  2015  Med Burden  High Income    0
13013180303  13013180303  2015  Med Burden  High Income    0
13013180401  13013180401  2015  Med Burden  High Income    0
13013180402  13013180402  2015  Med Burden  High Income    0
13013180501  13013180501  2015  Med Burden  High Income    0
13013180502  13013180502  2015  Med Burden  High Income    6
13013180503  13013180503  2015  Med Burden  High Income    0
13015960101  13015960101  2015  Med Burden  High Income    0
13015960102  13015960102  2015  Med Burden  High Income    0
13015960200  13015960200  2015  Med Burden  High Income    0
13015960300  13015960300  2015  Med Burden  High Income    0
13015960401  13015960401  2015  Med Burden  High Income    0
13015960402  13015960402  2015  Med Burden  High Income    0
13015960500  13015960500  2015  Med Burden  High Income    0
13015960600  13015960600  2015  Med Burden  High Income    0
13015960700  13015960700  2015  Med Burden  High Income    0
13015960801  13015960801  2015  Med Burden  High Income    0
13015960802  13015960802  2015  Med Burden  High Income    0
13015960803  13015960803  2015  Med Burden  High Income    0
...                  ...   ...         ...          ...  ...
13247060405  13247060405  2015  Med Burden  High Income    0
13247060406  13247060406  2015  Med Burden  High Income    0
13247060407  13247060407  2015  Med Burden  High Income    0
13255160100  13255160100  2015  Med Burden  High Income    0
13255160200  13255160200  2015  Med Burden  High Income    0
13255160300  13255160300  2015  Med Burden  High Income    0
13255160400  13255160400  2015  Med Burden  High Income    0
13255160500  13255160500  2015  Med Burden  High Income    0
13255160600  13255160600  2015  Med Burden  High Income    0
13255160700  13255160700  2015  Med Burden  High Income    0
13255160800  13255160800  2015  Med Burden  High Income    0
13255160900  13255160900  2015  Med Burden  High Income    0
13255161000  13255161000  2015  Med Burden  High Income    0
13255161100  13255161100  2015  Med Burden  High Income    0
13255161200  13255161200  2015  Med Burden  High Income    0
13297110100  13297110100  2015  Med Burden  High Income    0
13297110200  13297110200  2015  Med Burden  High Income    0
13297110300  13297110300  2015  Med Burden  High Income    0
13297110400  13297110400  2015  Med Burden  High Income    0
13297110503  13297110503  2015  Med Burden  High Income    0
13297110504  13297110504  2015  Med Burden  High Income    0
13297110505  13297110505  2015  Med Burden  High Income    0
13297110506  13297110506  2015  Med Burden  High Income    0
13297110507  13297110507  2015  Med Burden  High Income    0
13297110508  13297110508  2015  Med Burden  High Income    0
13297110601  13297110601  2015  Med Burden  High Income    0
13297110602  13297110602  2015  Med Burden  High Income    0
13297110603  13297110603  2015  Med Burden  High Income    0
13297110700  13297110700  2015  Med Burden  High Income   16
13297110800  13297110800  2015  Med Burden  High Income    0

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2015High IncomeMed Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2015,Med Burden,High Income,0,13013180103
13013180104,13013180104,2015,Med Burden,High Income,0,13013180104
13013180105,13013180105,2015,Med Burden,High Income,0,13013180105
13013180106,13013180106,2015,Med Burden,High Income,0,13013180106
13013180107,13013180107,2015,Med Burden,High Income,0,13013180107

                  GEOID2  YEAR        RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2015  High Burden  Low Income    0
13013180104  13013180104  2015  High Burden  Low Income   45
13013180105  13013180105  2015  High Burden  Low Income    6
13013180106  13013180106  2015  High Burden  Low Income   58
13013180107  13013180107  2015  High Burden  Low Income   88
13013180108  13013180108  2015  High Burden  Low Income   27
13013180203  13013180203  2015  High Burden  Low Income  104
13013180204  13013180204  2015  High Burden  Low Income   83
13013180205  13013180205  2015  High Burden  Low Income  261
13013180206  13013180206  2015  High Burden  Low Income   61
13013180301  13013180301  2015  High Burden  Low Income    6
13013180302  13013180302  2015  High Burden  Low Income   28
13013180303  13013180303  2015  High Burden  Low Income   39
13013180401  13013180401  2015  High Burden  Low Income   51
13013180402  13013180402  2015  High Burden  Low Income   71
13013180501  13013180501  2015  High Burden  Low Income  157
13013180502  13013180502  2015  High Burden  Low Income  134
13013180503  13013180503  2015  High Burden  Low Income    0
13015960101  13015960101  2015  High Burden  Low Income   19
13015960102  13015960102  2015  High Burden  Low Income  155
13015960200  13015960200  2015  High Burden  Low Income  273
13015960300  13015960300  2015  High Burden  Low Income   59
13015960401  13015960401  2015  High Burden  Low Income  180
13015960402  13015960402  2015  High Burden  Low Income  287
13015960500  13015960500  2015  High Burden  Low Income  306
13015960600  13015960600  2015  High Burden  Low Income  383
13015960700  13015960700  2015  High Burden  Low Income  282
13015960801  13015960801  2015  High Burden  Low Income  115
13015960802  13015960802  2015  High Burden  Low Income   29
13015960803  13015960803  2015  High Burden  Low Income  179
...                  ...   ...          ...         ...  ...
13247060405  13247060405  2015  High Burden  Low Income   10
13247060406  13247060406  2015  High Burden  Low Income   36
13247060407  13247060407  2015  High Burden  Low Income   68
13255160100  13255160100  2015  High Burden  Low Income  131
13255160200  13255160200  2015  High Burden  Low Income  241
13255160300  13255160300  2015  High Burden  Low Income  259
13255160400  13255160400  2015  High Burden  Low Income  345
13255160500  13255160500  2015  High Burden  Low Income  295
13255160600  13255160600  2015  High Burden  Low Income   53
13255160700  13255160700  2015  High Burden  Low Income  535
13255160800  13255160800  2015  High Burden  Low Income  350
13255160900  13255160900  2015  High Burden  Low Income  138
13255161000  13255161000  2015  High Burden  Low Income   64
13255161100  13255161100  2015  High Burden  Low Income   95
13255161200  13255161200  2015  High Burden  Low Income  176
13297110100  13297110100  2015  High Burden  Low Income   12
13297110200  13297110200  2015  High Burden  Low Income  143
13297110300  13297110300  2015  High Burden  Low Income  448
13297110400  13297110400  2015  High Burden  Low Income  454
13297110503  13297110503  2015  High Burden  Low Income   92
13297110504  13297110504  2015  High Burden  Low Income  218
13297110505  13297110505  2015  High Burden  Low Income   38
13297110506  13297110506  2015  High Burden  Low Income   16
13297110507  13297110507  2015  High Burden  Low Income  104
13297110508  13297110508  2015  High Burden  Low Income   90
13297110601  13297110601  2015  High Burden  Low Income    0
13297110602  13297110602  2015  High Burden  Low Income   68
13297110603  13297110603  2015  High Burden  Low Income   65
13297110700  13297110700  2015  High Burden  Low Income  145
13297110800  13297110800  2015  High Burden  Low Income  283

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2015Low IncomeHigh Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2015,High Burden,Low Income,0,13013180103
13013180104,13013180104,2015,High Burden,Low Income,45,13013180104
13013180105,13013180105,2015,High Burden,Low Income,6,13013180105
13013180106,13013180106,2015,High Burden,Low Income,58,13013180106
13013180107,13013180107,2015,High Burden,Low Income,88,13013180107

                  GEOID2  YEAR        RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2015  High Burden  Med Income    0
13013180104  13013180104  2015  High Burden  Med Income    0
13013180105  13013180105  2015  High Burden  Med Income    0
13013180106  13013180106  2015  High Burden  Med Income    0
13013180107  13013180107  2015  High Burden  Med Income    0
13013180108  13013180108  2015  High Burden  Med Income    0
13013180203  13013180203  2015  High Burden  Med Income    0
13013180204  13013180204  2015  High Burden  Med Income    0
13013180205  13013180205  2015  High Burden  Med Income   27
13013180206  13013180206  2015  High Burden  Med Income    0
13013180301  13013180301  2015  High Burden  Med Income    0
13013180302  13013180302  2015  High Burden  Med Income    0
13013180303  13013180303  2015  High Burden  Med Income    0
13013180401  13013180401  2015  High Burden  Med Income    0
13013180402  13013180402  2015  High Burden  Med Income    0
13013180501  13013180501  2015  High Burden  Med Income    0
13013180502  13013180502  2015  High Burden  Med Income    0
13013180503  13013180503  2015  High Burden  Med Income    0
13015960101  13015960101  2015  High Burden  Med Income    0
13015960102  13015960102  2015  High Burden  Med Income    0
13015960200  13015960200  2015  High Burden  Med Income    0
13015960300  13015960300  2015  High Burden  Med Income   17
13015960401  13015960401  2015  High Burden  Med Income    0
13015960402  13015960402  2015  High Burden  Med Income    0
13015960500  13015960500  2015  High Burden  Med Income    0
13015960600  13015960600  2015  High Burden  Med Income    0
13015960700  13015960700  2015  High Burden  Med Income    0
13015960801  13015960801  2015  High Burden  Med Income    0
13015960802  13015960802  2015  High Burden  Med Income    0
13015960803  13015960803  2015  High Burden  Med Income    0
...                  ...   ...          ...         ...  ...
13247060405  13247060405  2015  High Burden  Med Income    0
13247060406  13247060406  2015  High Burden  Med Income    0
13247060407  13247060407  2015  High Burden  Med Income    0
13255160100  13255160100  2015  High Burden  Med Income    0
13255160200  13255160200  2015  High Burden  Med Income    0
13255160300  13255160300  2015  High Burden  Med Income    0
13255160400  13255160400  2015  High Burden  Med Income    0
13255160500  13255160500  2015  High Burden  Med Income    0
13255160600  13255160600  2015  High Burden  Med Income    0
13255160700  13255160700  2015  High Burden  Med Income    0
13255160800  13255160800  2015  High Burden  Med Income    0
13255160900  13255160900  2015  High Burden  Med Income    0
13255161000  13255161000  2015  High Burden  Med Income    0
13255161100  13255161100  2015  High Burden  Med Income    0
13255161200  13255161200  2015  High Burden  Med Income    0
13297110100  13297110100  2015  High Burden  Med Income    0
13297110200  13297110200  2015  High Burden  Med Income    0
13297110300  13297110300  2015  High Burden  Med Income    0
13297110400  13297110400  2015  High Burden  Med Income    0
13297110503  13297110503  2015  High Burden  Med Income    0
13297110504  13297110504  2015  High Burden  Med Income    0
13297110505  13297110505  2015  High Burden  Med Income    0
13297110506  13297110506  2015  High Burden  Med Income    0
13297110507  13297110507  2015  High Burden  Med Income    0
13297110508  13297110508  2015  High Burden  Med Income    0
13297110601  13297110601  2015  High Burden  Med Income    0
13297110602  13297110602  2015  High Burden  Med Income    0
13297110603  13297110603  2015  High Burden  Med Income    0
13297110700  13297110700  2015  High Burden  Med Income   44
13297110800  13297110800  2015  High Burden  Med Income    0

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2015Med IncomeHigh Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2015,High Burden,Med Income,0,13013180103
13013180104,13013180104,2015,High Burden,Med Income,0,13013180104
13013180105,13013180105,2015,High Burden,Med Income,0,13013180105
13013180106,13013180106,2015,High Burden,Med Income,0,13013180106
13013180107,13013180107,2015,High Burden,Med Income,0,13013180107

                  GEOID2  YEAR        RentG      IncomeG  HHs
GEOID
13013180103  13013180103  2015  High Burden  High Income    0
13013180104  13013180104  2015  High Burden  High Income    0
13013180105  13013180105  2015  High Burden  High Income    0
13013180106  13013180106  2015  High Burden  High Income    0
13013180107  13013180107  2015  High Burden  High Income    0
13013180108  13013180108  2015  High Burden  High Income    0
13013180203  13013180203  2015  High Burden  High Income    0
13013180204  13013180204  2015  High Burden  High Income    0
13013180205  13013180205  2015  High Burden  High Income    0
13013180206  13013180206  2015  High Burden  High Income    0
13013180301  13013180301  2015  High Burden  High Income    0
13013180302  13013180302  2015  High Burden  High Income    0
13013180303  13013180303  2015  High Burden  High Income    0
13013180401  13013180401  2015  High Burden  High Income    0
13013180402  13013180402  2015  High Burden  High Income    0
13013180501  13013180501  2015  High Burden  High Income    0
13013180502  13013180502  2015  High Burden  High Income    0
13013180503  13013180503  2015  High Burden  High Income    0
13015960101  13015960101  2015  High Burden  High Income    0
13015960102  13015960102  2015  High Burden  High Income    0
13015960200  13015960200  2015  High Burden  High Income    0
13015960300  13015960300  2015  High Burden  High Income    0
13015960401  13015960401  2015  High Burden  High Income    0
13015960402  13015960402  2015  High Burden  High Income    0
13015960500  13015960500  2015  High Burden  High Income    0
13015960600  13015960600  2015  High Burden  High Income    0
13015960700  13015960700  2015  High Burden  High Income    0
13015960801  13015960801  2015  High Burden  High Income    0
13015960802  13015960802  2015  High Burden  High Income    0
13015960803  13015960803  2015  High Burden  High Income    0
...                  ...   ...          ...          ...  ...
13247060405  13247060405  2015  High Burden  High Income    0
13247060406  13247060406  2015  High Burden  High Income    0
13247060407  13247060407  2015  High Burden  High Income    0
13255160100  13255160100  2015  High Burden  High Income    0
13255160200  13255160200  2015  High Burden  High Income    0
13255160300  13255160300  2015  High Burden  High Income    0
13255160400  13255160400  2015  High Burden  High Income    0
13255160500  13255160500  2015  High Burden  High Income    0
13255160600  13255160600  2015  High Burden  High Income    0
13255160700  13255160700  2015  High Burden  High Income    0
13255160800  13255160800  2015  High Burden  High Income    0
13255160900  13255160900  2015  High Burden  High Income    0
13255161000  13255161000  2015  High Burden  High Income    0
13255161100  13255161100  2015  High Burden  High Income    0
13255161200  13255161200  2015  High Burden  High Income    0
13297110100  13297110100  2015  High Burden  High Income    0
13297110200  13297110200  2015  High Burden  High Income    0
13297110300  13297110300  2015  High Burden  High Income    0
13297110400  13297110400  2015  High Burden  High Income    0
13297110503  13297110503  2015  High Burden  High Income    0
13297110504  13297110504  2015  High Burden  High Income    0
13297110505  13297110505  2015  High Burden  High Income    0
13297110506  13297110506  2015  High Burden  High Income    0
13297110507  13297110507  2015  High Burden  High Income    0
13297110508  13297110508  2015  High Burden  High Income    0
13297110601  13297110601  2015  High Burden  High Income    0
13297110602  13297110602  2015  High Burden  High Income    0
13297110603  13297110603  2015  High Burden  High Income    0
13297110700  13297110700  2015  High Burden  High Income    0
13297110800  13297110800  2015  High Burden  High Income    0

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2015High IncomeHigh Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2015,High Burden,High Income,0,13013180103
13013180104,13013180104,2015,High Burden,High Income,0,13013180104
13013180105,13013180105,2015,High Burden,High Income,0,13013180105
13013180106,13013180106,2015,High Burden,High Income,0,13013180106
13013180107,13013180107,2015,High Burden,High Income,0,13013180107

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2016  Low Burden  Low Income    0
13013180104  13013180104  2016  Low Burden  Low Income   11
13013180105  13013180105  2016  Low Burden  Low Income    0
13013180106  13013180106  2016  Low Burden  Low Income   24
13013180107  13013180107  2016  Low Burden  Low Income    0
13013180108  13013180108  2016  Low Burden  Low Income   18
13013180203  13013180203  2016  Low Burden  Low Income  110
13013180204  13013180204  2016  Low Burden  Low Income   62
13013180205  13013180205  2016  Low Burden  Low Income   49
13013180206  13013180206  2016  Low Burden  Low Income   24
13013180301  13013180301  2016  Low Burden  Low Income    4
13013180302  13013180302  2016  Low Burden  Low Income    0
13013180303  13013180303  2016  Low Burden  Low Income    0
13013180401  13013180401  2016  Low Burden  Low Income   12
13013180402  13013180402  2016  Low Burden  Low Income   41
13013180501  13013180501  2016  Low Burden  Low Income   27
13013180502  13013180502  2016  Low Burden  Low Income   17
13013180503  13013180503  2016  Low Burden  Low Income    0
13015960101  13015960101  2016  Low Burden  Low Income    0
13015960102  13015960102  2016  Low Burden  Low Income   59
13015960200  13015960200  2016  Low Burden  Low Income  345
13015960300  13015960300  2016  Low Burden  Low Income   19
13015960401  13015960401  2016  Low Burden  Low Income  126
13015960402  13015960402  2016  Low Burden  Low Income  114
13015960500  13015960500  2016  Low Burden  Low Income   32
13015960600  13015960600  2016  Low Burden  Low Income   98
13015960700  13015960700  2016  Low Burden  Low Income   52
13015960801  13015960801  2016  Low Burden  Low Income   10
13015960802  13015960802  2016  Low Burden  Low Income   24
13015960803  13015960803  2016  Low Burden  Low Income   12
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2016  Low Burden  Low Income    0
13247060406  13247060406  2016  Low Burden  Low Income    0
13247060407  13247060407  2016  Low Burden  Low Income   60
13255160100  13255160100  2016  Low Burden  Low Income    6
13255160200  13255160200  2016  Low Burden  Low Income   65
13255160300  13255160300  2016  Low Burden  Low Income   22
13255160400  13255160400  2016  Low Burden  Low Income   25
13255160500  13255160500  2016  Low Burden  Low Income   36
13255160600  13255160600  2016  Low Burden  Low Income    8
13255160700  13255160700  2016  Low Burden  Low Income  131
13255160800  13255160800  2016  Low Burden  Low Income  225
13255160900  13255160900  2016  Low Burden  Low Income   28
13255161000  13255161000  2016  Low Burden  Low Income   12
13255161100  13255161100  2016  Low Burden  Low Income    0
13255161200  13255161200  2016  Low Burden  Low Income  105
13297110100  13297110100  2016  Low Burden  Low Income   39
13297110200  13297110200  2016  Low Burden  Low Income   51
13297110300  13297110300  2016  Low Burden  Low Income  156
13297110400  13297110400  2016  Low Burden  Low Income  102
13297110503  13297110503  2016  Low Burden  Low Income    0
13297110504  13297110504  2016  Low Burden  Low Income    0
13297110505  13297110505  2016  Low Burden  Low Income    0
13297110506  13297110506  2016  Low Burden  Low Income    0
13297110507  13297110507  2016  Low Burden  Low Income    0
13297110508  13297110508  2016  Low Burden  Low Income    0
13297110601  13297110601  2016  Low Burden  Low Income    0
13297110602  13297110602  2016  Low Burden  Low Income   13
13297110603  13297110603  2016  Low Burden  Low Income    4
13297110700  13297110700  2016  Low Burden  Low Income   40
13297110800  13297110800  2016  Low Burden  Low Income   56

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2016Low IncomeLow Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2016,Low Burden,Low Income,0,13013180103
13013180104,13013180104,2016,Low Burden,Low Income,11,13013180104
13013180105,13013180105,2016,Low Burden,Low Income,0,13013180105
13013180106,13013180106,2016,Low Burden,Low Income,24,13013180106
13013180107,13013180107,2016,Low Burden,Low Income,0,13013180107

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2016  Low Burden  Med Income   40
13013180104  13013180104  2016  Low Burden  Med Income   26
13013180105  13013180105  2016  Low Burden  Med Income   33
13013180106  13013180106  2016  Low Burden  Med Income   46
13013180107  13013180107  2016  Low Burden  Med Income  203
13013180108  13013180108  2016  Low Burden  Med Income   71
13013180203  13013180203  2016  Low Burden  Med Income  205
13013180204  13013180204  2016  Low Burden  Med Income  156
13013180205  13013180205  2016  Low Burden  Med Income  105
13013180206  13013180206  2016  Low Burden  Med Income  205
13013180301  13013180301  2016  Low Burden  Med Income   46
13013180302  13013180302  2016  Low Burden  Med Income  347
13013180303  13013180303  2016  Low Burden  Med Income   67
13013180401  13013180401  2016  Low Burden  Med Income  106
13013180402  13013180402  2016  Low Burden  Med Income  114
13013180501  13013180501  2016  Low Burden  Med Income   65
13013180502  13013180502  2016  Low Burden  Med Income   45
13013180503  13013180503  2016  Low Burden  Med Income   33
13015960101  13015960101  2016  Low Burden  Med Income   43
13015960102  13015960102  2016  Low Burden  Med Income  201
13015960200  13015960200  2016  Low Burden  Med Income  456
13015960300  13015960300  2016  Low Burden  Med Income   94
13015960401  13015960401  2016  Low Burden  Med Income  743
13015960402  13015960402  2016  Low Burden  Med Income  346
13015960500  13015960500  2016  Low Burden  Med Income  370
13015960600  13015960600  2016  Low Burden  Med Income  363
13015960700  13015960700  2016  Low Burden  Med Income  663
13015960801  13015960801  2016  Low Burden  Med Income  111
13015960802  13015960802  2016  Low Burden  Med Income  124
13015960803  13015960803  2016  Low Burden  Med Income  217
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2016  Low Burden  Med Income   36
13247060406  13247060406  2016  Low Burden  Med Income   13
13247060407  13247060407  2016  Low Burden  Med Income   41
13255160100  13255160100  2016  Low Burden  Med Income  191
13255160200  13255160200  2016  Low Burden  Med Income   71
13255160300  13255160300  2016  Low Burden  Med Income   58
13255160400  13255160400  2016  Low Burden  Med Income  222
13255160500  13255160500  2016  Low Burden  Med Income  233
13255160600  13255160600  2016  Low Burden  Med Income   86
13255160700  13255160700  2016  Low Burden  Med Income  395
13255160800  13255160800  2016  Low Burden  Med Income  189
13255160900  13255160900  2016  Low Burden  Med Income  201
13255161000  13255161000  2016  Low Burden  Med Income  152
13255161100  13255161100  2016  Low Burden  Med Income  127
13255161200  13255161200  2016  Low Burden  Med Income   65
13297110100  13297110100  2016  Low Burden  Med Income  131
13297110200  13297110200  2016  Low Burden  Med Income   46
13297110300  13297110300  2016  Low Burden  Med Income  404
13297110400  13297110400  2016  Low Burden  Med Income  150
13297110503  13297110503  2016  Low Burden  Med Income   18
13297110504  13297110504  2016  Low Burden  Med Income   94
13297110505  13297110505  2016  Low Burden  Med Income  138
13297110506  13297110506  2016  Low Burden  Med Income   90
13297110507  13297110507  2016  Low Burden  Med Income  144
13297110508  13297110508  2016  Low Burden  Med Income  160
13297110601  13297110601  2016  Low Burden  Med Income   12
13297110602  13297110602  2016  Low Burden  Med Income   81
13297110603  13297110603  2016  Low Burden  Med Income  171
13297110700  13297110700  2016  Low Burden  Med Income  369
13297110800  13297110800  2016  Low Burden  Med Income   71

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2016Med IncomeLow Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2016,Low Burden,Med Income,40,13013180103
13013180104,13013180104,2016,Low Burden,Med Income,26,13013180104
13013180105,13013180105,2016,Low Burden,Med Income,33,13013180105
13013180106,13013180106,2016,Low Burden,Med Income,46,13013180106
13013180107,13013180107,2016,Low Burden,Med Income,203,13013180107

                  GEOID2  YEAR       RentG      IncomeG  HHs
GEOID
13013180103  13013180103  2016  Low Burden  High Income   71
13013180104  13013180104  2016  Low Burden  High Income   21
13013180105  13013180105  2016  Low Burden  High Income   20
13013180106  13013180106  2016  Low Burden  High Income   72
13013180107  13013180107  2016  Low Burden  High Income   21
13013180108  13013180108  2016  Low Burden  High Income   75
13013180203  13013180203  2016  Low Burden  High Income   96
13013180204  13013180204  2016  Low Burden  High Income   22
13013180205  13013180205  2016  Low Burden  High Income  126
13013180206  13013180206  2016  Low Burden  High Income   59
13013180301  13013180301  2016  Low Burden  High Income   12
13013180302  13013180302  2016  Low Burden  High Income   61
13013180303  13013180303  2016  Low Burden  High Income   30
13013180401  13013180401  2016  Low Burden  High Income   23
13013180402  13013180402  2016  Low Burden  High Income   44
13013180501  13013180501  2016  Low Burden  High Income  119
13013180502  13013180502  2016  Low Burden  High Income   85
13013180503  13013180503  2016  Low Burden  High Income   34
13015960101  13015960101  2016  Low Burden  High Income   46
13015960102  13015960102  2016  Low Burden  High Income   30
13015960200  13015960200  2016  Low Burden  High Income  173
13015960300  13015960300  2016  Low Burden  High Income   95
13015960401  13015960401  2016  Low Burden  High Income  321
13015960402  13015960402  2016  Low Burden  High Income  166
13015960500  13015960500  2016  Low Burden  High Income  117
13015960600  13015960600  2016  Low Burden  High Income  210
13015960700  13015960700  2016  Low Burden  High Income  211
13015960801  13015960801  2016  Low Burden  High Income   86
13015960802  13015960802  2016  Low Burden  High Income   16
13015960803  13015960803  2016  Low Burden  High Income   47
...                  ...   ...         ...          ...  ...
13247060405  13247060405  2016  Low Burden  High Income  144
13247060406  13247060406  2016  Low Burden  High Income   94
13247060407  13247060407  2016  Low Burden  High Income   39
13255160100  13255160100  2016  Low Burden  High Income   98
13255160200  13255160200  2016  Low Burden  High Income    0
13255160300  13255160300  2016  Low Burden  High Income   17
13255160400  13255160400  2016  Low Burden  High Income   76
13255160500  13255160500  2016  Low Burden  High Income   94
13255160600  13255160600  2016  Low Burden  High Income    0
13255160700  13255160700  2016  Low Burden  High Income   83
13255160800  13255160800  2016  Low Burden  High Income  110
13255160900  13255160900  2016  Low Burden  High Income   11
13255161000  13255161000  2016  Low Burden  High Income   19
13255161100  13255161100  2016  Low Burden  High Income   56
13255161200  13255161200  2016  Low Burden  High Income  140
13297110100  13297110100  2016  Low Burden  High Income   92
13297110200  13297110200  2016  Low Burden  High Income   35
13297110300  13297110300  2016  Low Burden  High Income   76
13297110400  13297110400  2016  Low Burden  High Income   25
13297110503  13297110503  2016  Low Burden  High Income   19
13297110504  13297110504  2016  Low Burden  High Income   69
13297110505  13297110505  2016  Low Burden  High Income   27
13297110506  13297110506  2016  Low Burden  High Income  107
13297110507  13297110507  2016  Low Burden  High Income  200
13297110508  13297110508  2016  Low Burden  High Income    4
13297110601  13297110601  2016  Low Burden  High Income   47
13297110602  13297110602  2016  Low Burden  High Income  104
13297110603  13297110603  2016  Low Burden  High Income   24
13297110700  13297110700  2016  Low Burden  High Income   78
13297110800  13297110800  2016  Low Burden  High Income   92

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2016High IncomeLow Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2016,Low Burden,High Income,71,13013180103
13013180104,13013180104,2016,Low Burden,High Income,21,13013180104
13013180105,13013180105,2016,Low Burden,High Income,20,13013180105
13013180106,13013180106,2016,Low Burden,High Income,72,13013180106
13013180107,13013180107,2016,Low Burden,High Income,21,13013180107

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2016  Med Burden  Low Income   32
13013180104  13013180104  2016  Med Burden  Low Income   68
13013180105  13013180105  2016  Med Burden  Low Income   26
13013180106  13013180106  2016  Med Burden  Low Income   26
13013180107  13013180107  2016  Med Burden  Low Income   84
13013180108  13013180108  2016  Med Burden  Low Income   13
13013180203  13013180203  2016  Med Burden  Low Income   84
13013180204  13013180204  2016  Med Burden  Low Income  101
13013180205  13013180205  2016  Med Burden  Low Income   66
13013180206  13013180206  2016  Med Burden  Low Income   33
13013180301  13013180301  2016  Med Burden  Low Income   25
13013180302  13013180302  2016  Med Burden  Low Income   52
13013180303  13013180303  2016  Med Burden  Low Income   30
13013180401  13013180401  2016  Med Burden  Low Income   57
13013180402  13013180402  2016  Med Burden  Low Income   86
13013180501  13013180501  2016  Med Burden  Low Income   24
13013180502  13013180502  2016  Med Burden  Low Income   89
13013180503  13013180503  2016  Med Burden  Low Income   64
13015960101  13015960101  2016  Med Burden  Low Income   16
13015960102  13015960102  2016  Med Burden  Low Income  142
13015960200  13015960200  2016  Med Burden  Low Income  329
13015960300  13015960300  2016  Med Burden  Low Income  103
13015960401  13015960401  2016  Med Burden  Low Income  394
13015960402  13015960402  2016  Med Burden  Low Income  113
13015960500  13015960500  2016  Med Burden  Low Income  231
13015960600  13015960600  2016  Med Burden  Low Income  313
13015960700  13015960700  2016  Med Burden  Low Income  502
13015960801  13015960801  2016  Med Burden  Low Income    0
13015960802  13015960802  2016  Med Burden  Low Income  137
13015960803  13015960803  2016  Med Burden  Low Income  120
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2016  Med Burden  Low Income   34
13247060406  13247060406  2016  Med Burden  Low Income   39
13247060407  13247060407  2016  Med Burden  Low Income    0
13255160100  13255160100  2016  Med Burden  Low Income  197
13255160200  13255160200  2016  Med Burden  Low Income   79
13255160300  13255160300  2016  Med Burden  Low Income   92
13255160400  13255160400  2016  Med Burden  Low Income  313
13255160500  13255160500  2016  Med Burden  Low Income  268
13255160600  13255160600  2016  Med Burden  Low Income   53
13255160700  13255160700  2016  Med Burden  Low Income  237
13255160800  13255160800  2016  Med Burden  Low Income  169
13255160900  13255160900  2016  Med Burden  Low Income  137
13255161000  13255161000  2016  Med Burden  Low Income   23
13255161100  13255161100  2016  Med Burden  Low Income   83
13255161200  13255161200  2016  Med Burden  Low Income   97
13297110100  13297110100  2016  Med Burden  Low Income  142
13297110200  13297110200  2016  Med Burden  Low Income   39
13297110300  13297110300  2016  Med Burden  Low Income  300
13297110400  13297110400  2016  Med Burden  Low Income  234
13297110503  13297110503  2016  Med Burden  Low Income    9
13297110504  13297110504  2016  Med Burden  Low Income  125
13297110505  13297110505  2016  Med Burden  Low Income    0
13297110506  13297110506  2016  Med Burden  Low Income    0
13297110507  13297110507  2016  Med Burden  Low Income   43
13297110508  13297110508  2016  Med Burden  Low Income   37
13297110601  13297110601  2016  Med Burden  Low Income    0
13297110602  13297110602  2016  Med Burden  Low Income   30
13297110603  13297110603  2016  Med Burden  Low Income   74
13297110700  13297110700  2016  Med Burden  Low Income   89
13297110800  13297110800  2016  Med Burden  Low Income   50

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2016Low IncomeMed Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2016,Med Burden,Low Income,32,13013180103
13013180104,13013180104,2016,Med Burden,Low Income,68,13013180104
13013180105,13013180105,2016,Med Burden,Low Income,26,13013180105
13013180106,13013180106,2016,Med Burden,Low Income,26,13013180106
13013180107,13013180107,2016,Med Burden,Low Income,84,13013180107

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2016  Med Burden  Med Income   19
13013180104  13013180104  2016  Med Burden  Med Income    5
13013180105  13013180105  2016  Med Burden  Med Income    9
13013180106  13013180106  2016  Med Burden  Med Income    0
13013180107  13013180107  2016  Med Burden  Med Income   12
13013180108  13013180108  2016  Med Burden  Med Income   13
13013180203  13013180203  2016  Med Burden  Med Income   48
13013180204  13013180204  2016  Med Burden  Med Income   57
13013180205  13013180205  2016  Med Burden  Med Income  128
13013180206  13013180206  2016  Med Burden  Med Income    0
13013180301  13013180301  2016  Med Burden  Med Income   35
13013180302  13013180302  2016  Med Burden  Med Income   29
13013180303  13013180303  2016  Med Burden  Med Income   46
13013180401  13013180401  2016  Med Burden  Med Income    0
13013180402  13013180402  2016  Med Burden  Med Income   37
13013180501  13013180501  2016  Med Burden  Med Income   57
13013180502  13013180502  2016  Med Burden  Med Income    0
13013180503  13013180503  2016  Med Burden  Med Income    0
13015960101  13015960101  2016  Med Burden  Med Income    0
13015960102  13015960102  2016  Med Burden  Med Income    0
13015960200  13015960200  2016  Med Burden  Med Income   15
13015960300  13015960300  2016  Med Burden  Med Income   48
13015960401  13015960401  2016  Med Burden  Med Income   11
13015960402  13015960402  2016  Med Burden  Med Income   15
13015960500  13015960500  2016  Med Burden  Med Income   63
13015960600  13015960600  2016  Med Burden  Med Income  108
13015960700  13015960700  2016  Med Burden  Med Income  151
13015960801  13015960801  2016  Med Burden  Med Income   30
13015960802  13015960802  2016  Med Burden  Med Income    0
13015960803  13015960803  2016  Med Burden  Med Income   21
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2016  Med Burden  Med Income   55
13247060406  13247060406  2016  Med Burden  Med Income   77
13247060407  13247060407  2016  Med Burden  Med Income    8
13255160100  13255160100  2016  Med Burden  Med Income    0
13255160200  13255160200  2016  Med Burden  Med Income    0
13255160300  13255160300  2016  Med Burden  Med Income    0
13255160400  13255160400  2016  Med Burden  Med Income   11
13255160500  13255160500  2016  Med Burden  Med Income    0
13255160600  13255160600  2016  Med Burden  Med Income    7
13255160700  13255160700  2016  Med Burden  Med Income    0
13255160800  13255160800  2016  Med Burden  Med Income   84
13255160900  13255160900  2016  Med Burden  Med Income   11
13255161000  13255161000  2016  Med Burden  Med Income   23
13255161100  13255161100  2016  Med Burden  Med Income   53
13255161200  13255161200  2016  Med Burden  Med Income  108
13297110100  13297110100  2016  Med Burden  Med Income   49
13297110200  13297110200  2016  Med Burden  Med Income    1
13297110300  13297110300  2016  Med Burden  Med Income  115
13297110400  13297110400  2016  Med Burden  Med Income   65
13297110503  13297110503  2016  Med Burden  Med Income   85
13297110504  13297110504  2016  Med Burden  Med Income   90
13297110505  13297110505  2016  Med Burden  Med Income   11
13297110506  13297110506  2016  Med Burden  Med Income   43
13297110507  13297110507  2016  Med Burden  Med Income   33
13297110508  13297110508  2016  Med Burden  Med Income    0
13297110601  13297110601  2016  Med Burden  Med Income    9
13297110602  13297110602  2016  Med Burden  Med Income   46
13297110603  13297110603  2016  Med Burden  Med Income   24
13297110700  13297110700  2016  Med Burden  Med Income   40
13297110800  13297110800  2016  Med Burden  Med Income    0

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2016Med IncomeMed Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2016,Med Burden,Med Income,19,13013180103
13013180104,13013180104,2016,Med Burden,Med Income,5,13013180104
13013180105,13013180105,2016,Med Burden,Med Income,9,13013180105
13013180106,13013180106,2016,Med Burden,Med Income,0,13013180106
13013180107,13013180107,2016,Med Burden,Med Income,12,13013180107

                  GEOID2  YEAR       RentG      IncomeG  HHs
GEOID
13013180103  13013180103  2016  Med Burden  High Income    0
13013180104  13013180104  2016  Med Burden  High Income    0
13013180105  13013180105  2016  Med Burden  High Income    0
13013180106  13013180106  2016  Med Burden  High Income    0
13013180107  13013180107  2016  Med Burden  High Income    0
13013180108  13013180108  2016  Med Burden  High Income    0
13013180203  13013180203  2016  Med Burden  High Income    0
13013180204  13013180204  2016  Med Burden  High Income    0
13013180205  13013180205  2016  Med Burden  High Income    0
13013180206  13013180206  2016  Med Burden  High Income    0
13013180301  13013180301  2016  Med Burden  High Income    0
13013180302  13013180302  2016  Med Burden  High Income    0
13013180303  13013180303  2016  Med Burden  High Income    0
13013180401  13013180401  2016  Med Burden  High Income    0
13013180402  13013180402  2016  Med Burden  High Income    0
13013180501  13013180501  2016  Med Burden  High Income    0
13013180502  13013180502  2016  Med Burden  High Income    7
13013180503  13013180503  2016  Med Burden  High Income    0
13015960101  13015960101  2016  Med Burden  High Income    0
13015960102  13015960102  2016  Med Burden  High Income    0
13015960200  13015960200  2016  Med Burden  High Income    0
13015960300  13015960300  2016  Med Burden  High Income    0
13015960401  13015960401  2016  Med Burden  High Income    0
13015960402  13015960402  2016  Med Burden  High Income    0
13015960500  13015960500  2016  Med Burden  High Income    0
13015960600  13015960600  2016  Med Burden  High Income    0
13015960700  13015960700  2016  Med Burden  High Income    0
13015960801  13015960801  2016  Med Burden  High Income    0
13015960802  13015960802  2016  Med Burden  High Income    0
13015960803  13015960803  2016  Med Burden  High Income    0
...                  ...   ...         ...          ...  ...
13247060405  13247060405  2016  Med Burden  High Income    0
13247060406  13247060406  2016  Med Burden  High Income    0
13247060407  13247060407  2016  Med Burden  High Income    0
13255160100  13255160100  2016  Med Burden  High Income    0
13255160200  13255160200  2016  Med Burden  High Income    0
13255160300  13255160300  2016  Med Burden  High Income    0
13255160400  13255160400  2016  Med Burden  High Income    0
13255160500  13255160500  2016  Med Burden  High Income    0
13255160600  13255160600  2016  Med Burden  High Income    0
13255160700  13255160700  2016  Med Burden  High Income    0
13255160800  13255160800  2016  Med Burden  High Income    0
13255160900  13255160900  2016  Med Burden  High Income    0
13255161000  13255161000  2016  Med Burden  High Income    0
13255161100  13255161100  2016  Med Burden  High Income    0
13255161200  13255161200  2016  Med Burden  High Income    0
13297110100  13297110100  2016  Med Burden  High Income    0
13297110200  13297110200  2016  Med Burden  High Income    0
13297110300  13297110300  2016  Med Burden  High Income    0
13297110400  13297110400  2016  Med Burden  High Income    0
13297110503  13297110503  2016  Med Burden  High Income    0
13297110504  13297110504  2016  Med Burden  High Income    0
13297110505  13297110505  2016  Med Burden  High Income    0
13297110506  13297110506  2016  Med Burden  High Income    0
13297110507  13297110507  2016  Med Burden  High Income    0
13297110508  13297110508  2016  Med Burden  High Income    0
13297110601  13297110601  2016  Med Burden  High Income    0
13297110602  13297110602  2016  Med Burden  High Income    0
13297110603  13297110603  2016  Med Burden  High Income    0
13297110700  13297110700  2016  Med Burden  High Income   15
13297110800  13297110800  2016  Med Burden  High Income    0

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2016High IncomeMed Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2016,Med Burden,High Income,0,13013180103
13013180104,13013180104,2016,Med Burden,High Income,0,13013180104
13013180105,13013180105,2016,Med Burden,High Income,0,13013180105
13013180106,13013180106,2016,Med Burden,High Income,0,13013180106
13013180107,13013180107,2016,Med Burden,High Income,0,13013180107

                  GEOID2  YEAR        RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2016  High Burden  Low Income    0
13013180104  13013180104  2016  High Burden  Low Income   61
13013180105  13013180105  2016  High Burden  Low Income   14
13013180106  13013180106  2016  High Burden  Low Income   75
13013180107  13013180107  2016  High Burden  Low Income  111
13013180108  13013180108  2016  High Burden  Low Income   18
13013180203  13013180203  2016  High Burden  Low Income   87
13013180204  13013180204  2016  High Burden  Low Income  103
13013180205  13013180205  2016  High Burden  Low Income  226
13013180206  13013180206  2016  High Burden  Low Income   75
13013180301  13013180301  2016  High Burden  Low Income   20
13013180302  13013180302  2016  High Burden  Low Income   29
13013180303  13013180303  2016  High Burden  Low Income   84
13013180401  13013180401  2016  High Burden  Low Income   59
13013180402  13013180402  2016  High Burden  Low Income   69
13013180501  13013180501  2016  High Burden  Low Income   61
13013180502  13013180502  2016  High Burden  Low Income   81
13013180503  13013180503  2016  High Burden  Low Income    0
13015960101  13015960101  2016  High Burden  Low Income   29
13015960102  13015960102  2016  High Burden  Low Income  175
13015960200  13015960200  2016  High Burden  Low Income  200
13015960300  13015960300  2016  High Burden  Low Income   80
13015960401  13015960401  2016  High Burden  Low Income  197
13015960402  13015960402  2016  High Burden  Low Income  254
13015960500  13015960500  2016  High Burden  Low Income  353
13015960600  13015960600  2016  High Burden  Low Income  285
13015960700  13015960700  2016  High Burden  Low Income  229
13015960801  13015960801  2016  High Burden  Low Income  127
13015960802  13015960802  2016  High Burden  Low Income   32
13015960803  13015960803  2016  High Burden  Low Income  156
...                  ...   ...          ...         ...  ...
13247060405  13247060405  2016  High Burden  Low Income   16
13247060406  13247060406  2016  High Burden  Low Income   37
13247060407  13247060407  2016  High Burden  Low Income   62
13255160100  13255160100  2016  High Burden  Low Income  117
13255160200  13255160200  2016  High Burden  Low Income  255
13255160300  13255160300  2016  High Burden  Low Income  289
13255160400  13255160400  2016  High Burden  Low Income  324
13255160500  13255160500  2016  High Burden  Low Income  319
13255160600  13255160600  2016  High Burden  Low Income   38
13255160700  13255160700  2016  High Burden  Low Income  387
13255160800  13255160800  2016  High Burden  Low Income  419
13255160900  13255160900  2016  High Burden  Low Income  129
13255161000  13255161000  2016  High Burden  Low Income  132
13255161100  13255161100  2016  High Burden  Low Income  108
13255161200  13255161200  2016  High Burden  Low Income  258
13297110100  13297110100  2016  High Burden  Low Income   61
13297110200  13297110200  2016  High Burden  Low Income  129
13297110300  13297110300  2016  High Burden  Low Income  385
13297110400  13297110400  2016  High Burden  Low Income  382
13297110503  13297110503  2016  High Burden  Low Income   27
13297110504  13297110504  2016  High Burden  Low Income  172
13297110505  13297110505  2016  High Burden  Low Income   23
13297110506  13297110506  2016  High Burden  Low Income   22
13297110507  13297110507  2016  High Burden  Low Income   91
13297110508  13297110508  2016  High Burden  Low Income   86
13297110601  13297110601  2016  High Burden  Low Income    0
13297110602  13297110602  2016  High Burden  Low Income   86
13297110603  13297110603  2016  High Burden  Low Income   88
13297110700  13297110700  2016  High Burden  Low Income  297
13297110800  13297110800  2016  High Burden  Low Income  261

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2016Low IncomeHigh Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2016,High Burden,Low Income,0,13013180103
13013180104,13013180104,2016,High Burden,Low Income,61,13013180104
13013180105,13013180105,2016,High Burden,Low Income,14,13013180105
13013180106,13013180106,2016,High Burden,Low Income,75,13013180106
13013180107,13013180107,2016,High Burden,Low Income,111,13013180107

                  GEOID2  YEAR        RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2016  High Burden  Med Income    0
13013180104  13013180104  2016  High Burden  Med Income    0
13013180105  13013180105  2016  High Burden  Med Income    0
13013180106  13013180106  2016  High Burden  Med Income    0
13013180107  13013180107  2016  High Burden  Med Income    0
13013180108  13013180108  2016  High Burden  Med Income    0
13013180203  13013180203  2016  High Burden  Med Income    0
13013180204  13013180204  2016  High Burden  Med Income    0
13013180205  13013180205  2016  High Burden  Med Income   29
13013180206  13013180206  2016  High Burden  Med Income    0
13013180301  13013180301  2016  High Burden  Med Income    0
13013180302  13013180302  2016  High Burden  Med Income    0
13013180303  13013180303  2016  High Burden  Med Income    0
13013180401  13013180401  2016  High Burden  Med Income    0
13013180402  13013180402  2016  High Burden  Med Income    0
13013180501  13013180501  2016  High Burden  Med Income    0
13013180502  13013180502  2016  High Burden  Med Income    0
13013180503  13013180503  2016  High Burden  Med Income    0
13015960101  13015960101  2016  High Burden  Med Income    0
13015960102  13015960102  2016  High Burden  Med Income    0
13015960200  13015960200  2016  High Burden  Med Income    0
13015960300  13015960300  2016  High Burden  Med Income   16
13015960401  13015960401  2016  High Burden  Med Income    0
13015960402  13015960402  2016  High Burden  Med Income    0
13015960500  13015960500  2016  High Burden  Med Income    0
13015960600  13015960600  2016  High Burden  Med Income    0
13015960700  13015960700  2016  High Burden  Med Income    0
13015960801  13015960801  2016  High Burden  Med Income    0
13015960802  13015960802  2016  High Burden  Med Income    0
13015960803  13015960803  2016  High Burden  Med Income    0
...                  ...   ...          ...         ...  ...
13247060405  13247060405  2016  High Burden  Med Income    0
13247060406  13247060406  2016  High Burden  Med Income    0
13247060407  13247060407  2016  High Burden  Med Income    0
13255160100  13255160100  2016  High Burden  Med Income    0
13255160200  13255160200  2016  High Burden  Med Income    0
13255160300  13255160300  2016  High Burden  Med Income    0
13255160400  13255160400  2016  High Burden  Med Income    0
13255160500  13255160500  2016  High Burden  Med Income    0
13255160600  13255160600  2016  High Burden  Med Income    0
13255160700  13255160700  2016  High Burden  Med Income    0
13255160800  13255160800  2016  High Burden  Med Income    0
13255160900  13255160900  2016  High Burden  Med Income    0
13255161000  13255161000  2016  High Burden  Med Income    0
13255161100  13255161100  2016  High Burden  Med Income    0
13255161200  13255161200  2016  High Burden  Med Income    0
13297110100  13297110100  2016  High Burden  Med Income    0
13297110200  13297110200  2016  High Burden  Med Income    0
13297110300  13297110300  2016  High Burden  Med Income    0
13297110400  13297110400  2016  High Burden  Med Income    0
13297110503  13297110503  2016  High Burden  Med Income    0
13297110504  13297110504  2016  High Burden  Med Income    0
13297110505  13297110505  2016  High Burden  Med Income    0
13297110506  13297110506  2016  High Burden  Med Income    0
13297110507  13297110507  2016  High Burden  Med Income    0
13297110508  13297110508  2016  High Burden  Med Income    0
13297110601  13297110601  2016  High Burden  Med Income    0
13297110602  13297110602  2016  High Burden  Med Income    0
13297110603  13297110603  2016  High Burden  Med Income    0
13297110700  13297110700  2016  High Burden  Med Income   48
13297110800  13297110800  2016  High Burden  Med Income    0

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2016Med IncomeHigh Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2016,High Burden,Med Income,0,13013180103
13013180104,13013180104,2016,High Burden,Med Income,0,13013180104
13013180105,13013180105,2016,High Burden,Med Income,0,13013180105
13013180106,13013180106,2016,High Burden,Med Income,0,13013180106
13013180107,13013180107,2016,High Burden,Med Income,0,13013180107

                  GEOID2  YEAR        RentG      IncomeG  HHs
GEOID
13013180103  13013180103  2016  High Burden  High Income    0
13013180104  13013180104  2016  High Burden  High Income    0
13013180105  13013180105  2016  High Burden  High Income    0
13013180106  13013180106  2016  High Burden  High Income    0
13013180107  13013180107  2016  High Burden  High Income    0
13013180108  13013180108  2016  High Burden  High Income    0
13013180203  13013180203  2016  High Burden  High Income    0
13013180204  13013180204  2016  High Burden  High Income    0
13013180205  13013180205  2016  High Burden  High Income    0
13013180206  13013180206  2016  High Burden  High Income    0
13013180301  13013180301  2016  High Burden  High Income    0
13013180302  13013180302  2016  High Burden  High Income    0
13013180303  13013180303  2016  High Burden  High Income    0
13013180401  13013180401  2016  High Burden  High Income    0
13013180402  13013180402  2016  High Burden  High Income    0
13013180501  13013180501  2016  High Burden  High Income    0
13013180502  13013180502  2016  High Burden  High Income    0
13013180503  13013180503  2016  High Burden  High Income    0
13015960101  13015960101  2016  High Burden  High Income    0
13015960102  13015960102  2016  High Burden  High Income    0
13015960200  13015960200  2016  High Burden  High Income    0
13015960300  13015960300  2016  High Burden  High Income    0
13015960401  13015960401  2016  High Burden  High Income    0
13015960402  13015960402  2016  High Burden  High Income    0
13015960500  13015960500  2016  High Burden  High Income    0
13015960600  13015960600  2016  High Burden  High Income    0
13015960700  13015960700  2016  High Burden  High Income    0
13015960801  13015960801  2016  High Burden  High Income    0
13015960802  13015960802  2016  High Burden  High Income    0
13015960803  13015960803  2016  High Burden  High Income    0
...                  ...   ...          ...          ...  ...
13247060405  13247060405  2016  High Burden  High Income    0
13247060406  13247060406  2016  High Burden  High Income    0
13247060407  13247060407  2016  High Burden  High Income    0
13255160100  13255160100  2016  High Burden  High Income    0
13255160200  13255160200  2016  High Burden  High Income    0
13255160300  13255160300  2016  High Burden  High Income    0
13255160400  13255160400  2016  High Burden  High Income    0
13255160500  13255160500  2016  High Burden  High Income    0
13255160600  13255160600  2016  High Burden  High Income    0
13255160700  13255160700  2016  High Burden  High Income    0
13255160800  13255160800  2016  High Burden  High Income    0
13255160900  13255160900  2016  High Burden  High Income    0
13255161000  13255161000  2016  High Burden  High Income    0
13255161100  13255161100  2016  High Burden  High Income    0
13255161200  13255161200  2016  High Burden  High Income    0
13297110100  13297110100  2016  High Burden  High Income    0
13297110200  13297110200  2016  High Burden  High Income    0
13297110300  13297110300  2016  High Burden  High Income    0
13297110400  13297110400  2016  High Burden  High Income    0
13297110503  13297110503  2016  High Burden  High Income    0
13297110504  13297110504  2016  High Burden  High Income    0
13297110505  13297110505  2016  High Burden  High Income    0
13297110506  13297110506  2016  High Burden  High Income    0
13297110507  13297110507  2016  High Burden  High Income    0
13297110508  13297110508  2016  High Burden  High Income    0
13297110601  13297110601  2016  High Burden  High Income    0
13297110602  13297110602  2016  High Burden  High Income    0
13297110603  13297110603  2016  High Burden  High Income    0
13297110700  13297110700  2016  High Burden  High Income    0
13297110800  13297110800  2016  High Burden  High Income    0

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2016High IncomeHigh Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2016,High Burden,High Income,0,13013180103
13013180104,13013180104,2016,High Burden,High Income,0,13013180104
13013180105,13013180105,2016,High Burden,High Income,0,13013180105
13013180106,13013180106,2016,High Burden,High Income,0,13013180106
13013180107,13013180107,2016,High Burden,High Income,0,13013180107

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2017  Low Burden  Low Income    0
13013180104  13013180104  2017  Low Burden  Low Income   14
13013180105  13013180105  2017  Low Burden  Low Income    0
13013180106  13013180106  2017  Low Burden  Low Income   19
13013180107  13013180107  2017  Low Burden  Low Income    0
13013180108  13013180108  2017  Low Burden  Low Income   13
13013180203  13013180203  2017  Low Burden  Low Income   48
13013180204  13013180204  2017  Low Burden  Low Income   61
13013180205  13013180205  2017  Low Burden  Low Income   70
13013180206  13013180206  2017  Low Burden  Low Income   25
13013180301  13013180301  2017  Low Burden  Low Income    0
13013180302  13013180302  2017  Low Burden  Low Income    0
13013180303  13013180303  2017  Low Burden  Low Income    0
13013180401  13013180401  2017  Low Burden  Low Income    0
13013180402  13013180402  2017  Low Burden  Low Income   54
13013180501  13013180501  2017  Low Burden  Low Income   36
13013180502  13013180502  2017  Low Burden  Low Income   18
13013180503  13013180503  2017  Low Burden  Low Income   26
13015960101  13015960101  2017  Low Burden  Low Income    0
13015960102  13015960102  2017  Low Burden  Low Income   39
13015960200  13015960200  2017  Low Burden  Low Income  276
13015960300  13015960300  2017  Low Burden  Low Income   19
13015960401  13015960401  2017  Low Burden  Low Income   81
13015960402  13015960402  2017  Low Burden  Low Income   98
13015960500  13015960500  2017  Low Burden  Low Income   35
13015960600  13015960600  2017  Low Burden  Low Income   74
13015960700  13015960700  2017  Low Burden  Low Income   58
13015960801  13015960801  2017  Low Burden  Low Income    8
13015960802  13015960802  2017  Low Burden  Low Income   30
13015960803  13015960803  2017  Low Burden  Low Income   23
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2017  Low Burden  Low Income    0
13247060406  13247060406  2017  Low Burden  Low Income    0
13247060407  13247060407  2017  Low Burden  Low Income   41
13255160100  13255160100  2017  Low Burden  Low Income    6
13255160200  13255160200  2017  Low Burden  Low Income   33
13255160300  13255160300  2017  Low Burden  Low Income   29
13255160400  13255160400  2017  Low Burden  Low Income   14
13255160500  13255160500  2017  Low Burden  Low Income   33
13255160600  13255160600  2017  Low Burden  Low Income   32
13255160700  13255160700  2017  Low Burden  Low Income  175
13255160800  13255160800  2017  Low Burden  Low Income  215
13255160900  13255160900  2017  Low Burden  Low Income   43
13255161000  13255161000  2017  Low Burden  Low Income   56
13255161100  13255161100  2017  Low Burden  Low Income   21
13255161200  13255161200  2017  Low Burden  Low Income   98
13297110100  13297110100  2017  Low Burden  Low Income   47
13297110200  13297110200  2017  Low Burden  Low Income   48
13297110300  13297110300  2017  Low Burden  Low Income  189
13297110400  13297110400  2017  Low Burden  Low Income  108
13297110503  13297110503  2017  Low Burden  Low Income    0
13297110504  13297110504  2017  Low Burden  Low Income    0
13297110505  13297110505  2017  Low Burden  Low Income    0
13297110506  13297110506  2017  Low Burden  Low Income    0
13297110507  13297110507  2017  Low Burden  Low Income    0
13297110508  13297110508  2017  Low Burden  Low Income    0
13297110601  13297110601  2017  Low Burden  Low Income    0
13297110602  13297110602  2017  Low Burden  Low Income    9
13297110603  13297110603  2017  Low Burden  Low Income    4
13297110700  13297110700  2017  Low Burden  Low Income   25
13297110800  13297110800  2017  Low Burden  Low Income   34

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2017Low IncomeLow Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2017,Low Burden,Low Income,0,13013180103
13013180104,13013180104,2017,Low Burden,Low Income,14,13013180104
13013180105,13013180105,2017,Low Burden,Low Income,0,13013180105
13013180106,13013180106,2017,Low Burden,Low Income,19,13013180106
13013180107,13013180107,2017,Low Burden,Low Income,0,13013180107

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2017  Low Burden  Med Income   34
13013180104  13013180104  2017  Low Burden  Med Income   24
13013180105  13013180105  2017  Low Burden  Med Income   16
13013180106  13013180106  2017  Low Burden  Med Income   64
13013180107  13013180107  2017  Low Burden  Med Income  161
13013180108  13013180108  2017  Low Burden  Med Income   72
13013180203  13013180203  2017  Low Burden  Med Income  188
13013180204  13013180204  2017  Low Burden  Med Income  172
13013180205  13013180205  2017  Low Burden  Med Income   91
13013180206  13013180206  2017  Low Burden  Med Income  188
13013180301  13013180301  2017  Low Burden  Med Income   39
13013180302  13013180302  2017  Low Burden  Med Income  348
13013180303  13013180303  2017  Low Burden  Med Income   63
13013180401  13013180401  2017  Low Burden  Med Income   98
13013180402  13013180402  2017  Low Burden  Med Income  152
13013180501  13013180501  2017  Low Burden  Med Income   65
13013180502  13013180502  2017  Low Burden  Med Income   67
13013180503  13013180503  2017  Low Burden  Med Income    9
13015960101  13015960101  2017  Low Burden  Med Income   42
13015960102  13015960102  2017  Low Burden  Med Income  130
13015960200  13015960200  2017  Low Burden  Med Income  346
13015960300  13015960300  2017  Low Burden  Med Income  106
13015960401  13015960401  2017  Low Burden  Med Income  805
13015960402  13015960402  2017  Low Burden  Med Income  392
13015960500  13015960500  2017  Low Burden  Med Income  410
13015960600  13015960600  2017  Low Burden  Med Income  464
13015960700  13015960700  2017  Low Burden  Med Income  434
13015960801  13015960801  2017  Low Burden  Med Income  109
13015960802  13015960802  2017  Low Burden  Med Income  103
13015960803  13015960803  2017  Low Burden  Med Income  169
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2017  Low Burden  Med Income   88
13247060406  13247060406  2017  Low Burden  Med Income   11
13247060407  13247060407  2017  Low Burden  Med Income   41
13255160100  13255160100  2017  Low Burden  Med Income  166
13255160200  13255160200  2017  Low Burden  Med Income   98
13255160300  13255160300  2017  Low Burden  Med Income   57
13255160400  13255160400  2017  Low Burden  Med Income  256
13255160500  13255160500  2017  Low Burden  Med Income  242
13255160600  13255160600  2017  Low Burden  Med Income   87
13255160700  13255160700  2017  Low Burden  Med Income  446
13255160800  13255160800  2017  Low Burden  Med Income  229
13255160900  13255160900  2017  Low Burden  Med Income  193
13255161000  13255161000  2017  Low Burden  Med Income  127
13255161100  13255161100  2017  Low Burden  Med Income  135
13255161200  13255161200  2017  Low Burden  Med Income  139
13297110100  13297110100  2017  Low Burden  Med Income  111
13297110200  13297110200  2017  Low Burden  Med Income   53
13297110300  13297110300  2017  Low Burden  Med Income  342
13297110400  13297110400  2017  Low Burden  Med Income  164
13297110503  13297110503  2017  Low Burden  Med Income    0
13297110504  13297110504  2017  Low Burden  Med Income  139
13297110505  13297110505  2017  Low Burden  Med Income  116
13297110506  13297110506  2017  Low Burden  Med Income   55
13297110507  13297110507  2017  Low Burden  Med Income   91
13297110508  13297110508  2017  Low Burden  Med Income  138
13297110601  13297110601  2017  Low Burden  Med Income    0
13297110602  13297110602  2017  Low Burden  Med Income   78
13297110603  13297110603  2017  Low Burden  Med Income  181
13297110700  13297110700  2017  Low Burden  Med Income  339
13297110800  13297110800  2017  Low Burden  Med Income  193

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2017Med IncomeLow Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2017,Low Burden,Med Income,34,13013180103
13013180104,13013180104,2017,Low Burden,Med Income,24,13013180104
13013180105,13013180105,2017,Low Burden,Med Income,16,13013180105
13013180106,13013180106,2017,Low Burden,Med Income,64,13013180106
13013180107,13013180107,2017,Low Burden,Med Income,161,13013180107

                  GEOID2  YEAR       RentG      IncomeG  HHs
GEOID
13013180103  13013180103  2017  Low Burden  High Income   63
13013180104  13013180104  2017  Low Burden  High Income   25
13013180105  13013180105  2017  Low Burden  High Income   19
13013180106  13013180106  2017  Low Burden  High Income   49
13013180107  13013180107  2017  Low Burden  High Income   79
13013180108  13013180108  2017  Low Burden  High Income   58
13013180203  13013180203  2017  Low Burden  High Income   56
13013180204  13013180204  2017  Low Burden  High Income   28
13013180205  13013180205  2017  Low Burden  High Income  169
13013180206  13013180206  2017  Low Burden  High Income   91
13013180301  13013180301  2017  Low Burden  High Income   12
13013180302  13013180302  2017  Low Burden  High Income   72
13013180303  13013180303  2017  Low Burden  High Income  101
13013180401  13013180401  2017  Low Burden  High Income   48
13013180402  13013180402  2017  Low Burden  High Income  121
13013180501  13013180501  2017  Low Burden  High Income  153
13013180502  13013180502  2017  Low Burden  High Income   83
13013180503  13013180503  2017  Low Burden  High Income   48
13015960101  13015960101  2017  Low Burden  High Income   53
13015960102  13015960102  2017  Low Burden  High Income   62
13015960200  13015960200  2017  Low Burden  High Income  278
13015960300  13015960300  2017  Low Burden  High Income   74
13015960401  13015960401  2017  Low Burden  High Income  365
13015960402  13015960402  2017  Low Burden  High Income  140
13015960500  13015960500  2017  Low Burden  High Income  126
13015960600  13015960600  2017  Low Burden  High Income  195
13015960700  13015960700  2017  Low Burden  High Income  223
13015960801  13015960801  2017  Low Burden  High Income   73
13015960802  13015960802  2017  Low Burden  High Income    8
13015960803  13015960803  2017  Low Burden  High Income   26
...                  ...   ...         ...          ...  ...
13247060405  13247060405  2017  Low Burden  High Income  160
13247060406  13247060406  2017  Low Burden  High Income  103
13247060407  13247060407  2017  Low Burden  High Income   37
13255160100  13255160100  2017  Low Burden  High Income  100
13255160200  13255160200  2017  Low Burden  High Income   68
13255160300  13255160300  2017  Low Burden  High Income   17
13255160400  13255160400  2017  Low Burden  High Income   31
13255160500  13255160500  2017  Low Burden  High Income  109
13255160600  13255160600  2017  Low Burden  High Income    0
13255160700  13255160700  2017  Low Burden  High Income  112
13255160800  13255160800  2017  Low Burden  High Income  132
13255160900  13255160900  2017  Low Burden  High Income   37
13255161000  13255161000  2017  Low Burden  High Income   36
13255161100  13255161100  2017  Low Burden  High Income  100
13255161200  13255161200  2017  Low Burden  High Income  142
13297110100  13297110100  2017  Low Burden  High Income   83
13297110200  13297110200  2017  Low Burden  High Income   18
13297110300  13297110300  2017  Low Burden  High Income   91
13297110400  13297110400  2017  Low Burden  High Income   48
13297110503  13297110503  2017  Low Burden  High Income   44
13297110504  13297110504  2017  Low Burden  High Income   56
13297110505  13297110505  2017  Low Burden  High Income   24
13297110506  13297110506  2017  Low Burden  High Income   96
13297110507  13297110507  2017  Low Burden  High Income  188
13297110508  13297110508  2017  Low Burden  High Income   16
13297110601  13297110601  2017  Low Burden  High Income   72
13297110602  13297110602  2017  Low Burden  High Income  116
13297110603  13297110603  2017  Low Burden  High Income   35
13297110700  13297110700  2017  Low Burden  High Income  149
13297110800  13297110800  2017  Low Burden  High Income   49

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2017High IncomeLow Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2017,Low Burden,High Income,63,13013180103
13013180104,13013180104,2017,Low Burden,High Income,25,13013180104
13013180105,13013180105,2017,Low Burden,High Income,19,13013180105
13013180106,13013180106,2017,Low Burden,High Income,49,13013180106
13013180107,13013180107,2017,Low Burden,High Income,79,13013180107

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2017  Med Burden  Low Income   74
13013180104  13013180104  2017  Med Burden  Low Income   54
13013180105  13013180105  2017  Med Burden  Low Income   22
13013180106  13013180106  2017  Med Burden  Low Income   69
13013180107  13013180107  2017  Med Burden  Low Income   64
13013180108  13013180108  2017  Med Burden  Low Income   11
13013180203  13013180203  2017  Med Burden  Low Income   95
13013180204  13013180204  2017  Med Burden  Low Income   81
13013180205  13013180205  2017  Med Burden  Low Income   96
13013180206  13013180206  2017  Med Burden  Low Income   47
13013180301  13013180301  2017  Med Burden  Low Income   48
13013180302  13013180302  2017  Med Burden  Low Income   48
13013180303  13013180303  2017  Med Burden  Low Income   32
13013180401  13013180401  2017  Med Burden  Low Income   55
13013180402  13013180402  2017  Med Burden  Low Income   55
13013180501  13013180501  2017  Med Burden  Low Income   26
13013180502  13013180502  2017  Med Burden  Low Income   63
13013180503  13013180503  2017  Med Burden  Low Income   42
13015960101  13015960101  2017  Med Burden  Low Income   18
13015960102  13015960102  2017  Med Burden  Low Income  145
13015960200  13015960200  2017  Med Burden  Low Income  294
13015960300  13015960300  2017  Med Burden  Low Income   22
13015960401  13015960401  2017  Med Burden  Low Income  424
13015960402  13015960402  2017  Med Burden  Low Income  215
13015960500  13015960500  2017  Med Burden  Low Income  217
13015960600  13015960600  2017  Med Burden  Low Income  268
13015960700  13015960700  2017  Med Burden  Low Income  494
13015960801  13015960801  2017  Med Burden  Low Income    6
13015960802  13015960802  2017  Med Burden  Low Income  152
13015960803  13015960803  2017  Med Burden  Low Income  115
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2017  Med Burden  Low Income   28
13247060406  13247060406  2017  Med Burden  Low Income    7
13247060407  13247060407  2017  Med Burden  Low Income    0
13255160100  13255160100  2017  Med Burden  Low Income  255
13255160200  13255160200  2017  Med Burden  Low Income   38
13255160300  13255160300  2017  Med Burden  Low Income   89
13255160400  13255160400  2017  Med Burden  Low Income  322
13255160500  13255160500  2017  Med Burden  Low Income  312
13255160600  13255160600  2017  Med Burden  Low Income   40
13255160700  13255160700  2017  Med Burden  Low Income  219
13255160800  13255160800  2017  Med Burden  Low Income  159
13255160900  13255160900  2017  Med Burden  Low Income  160
13255161000  13255161000  2017  Med Burden  Low Income    7
13255161100  13255161100  2017  Med Burden  Low Income   66
13255161200  13255161200  2017  Med Burden  Low Income  145
13297110100  13297110100  2017  Med Burden  Low Income   80
13297110200  13297110200  2017  Med Burden  Low Income   55
13297110300  13297110300  2017  Med Burden  Low Income  281
13297110400  13297110400  2017  Med Burden  Low Income  212
13297110503  13297110503  2017  Med Burden  Low Income    0
13297110504  13297110504  2017  Med Burden  Low Income  103
13297110505  13297110505  2017  Med Burden  Low Income   12
13297110506  13297110506  2017  Med Burden  Low Income   14
13297110507  13297110507  2017  Med Burden  Low Income  116
13297110508  13297110508  2017  Med Burden  Low Income   31
13297110601  13297110601  2017  Med Burden  Low Income    0
13297110602  13297110602  2017  Med Burden  Low Income   27
13297110603  13297110603  2017  Med Burden  Low Income   75
13297110700  13297110700  2017  Med Burden  Low Income  162
13297110800  13297110800  2017  Med Burden  Low Income   71

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2017Low IncomeMed Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2017,Med Burden,Low Income,74,13013180103
13013180104,13013180104,2017,Med Burden,Low Income,54,13013180104
13013180105,13013180105,2017,Med Burden,Low Income,22,13013180105
13013180106,13013180106,2017,Med Burden,Low Income,69,13013180106
13013180107,13013180107,2017,Med Burden,Low Income,64,13013180107

                  GEOID2  YEAR       RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2017  Med Burden  Med Income   15
13013180104  13013180104  2017  Med Burden  Med Income    0
13013180105  13013180105  2017  Med Burden  Med Income    8
13013180106  13013180106  2017  Med Burden  Med Income   21
13013180107  13013180107  2017  Med Burden  Med Income   19
13013180108  13013180108  2017  Med Burden  Med Income   12
13013180203  13013180203  2017  Med Burden  Med Income   32
13013180204  13013180204  2017  Med Burden  Med Income    5
13013180205  13013180205  2017  Med Burden  Med Income   84
13013180206  13013180206  2017  Med Burden  Med Income    0
13013180301  13013180301  2017  Med Burden  Med Income   26
13013180302  13013180302  2017  Med Burden  Med Income   10
13013180303  13013180303  2017  Med Burden  Med Income   43
13013180401  13013180401  2017  Med Burden  Med Income   15
13013180402  13013180402  2017  Med Burden  Med Income    9
13013180501  13013180501  2017  Med Burden  Med Income   31
13013180502  13013180502  2017  Med Burden  Med Income    6
13013180503  13013180503  2017  Med Burden  Med Income    9
13015960101  13015960101  2017  Med Burden  Med Income    0
13015960102  13015960102  2017  Med Burden  Med Income   17
13015960200  13015960200  2017  Med Burden  Med Income   22
13015960300  13015960300  2017  Med Burden  Med Income   55
13015960401  13015960401  2017  Med Burden  Med Income   32
13015960402  13015960402  2017  Med Burden  Med Income   29
13015960500  13015960500  2017  Med Burden  Med Income   42
13015960600  13015960600  2017  Med Burden  Med Income   10
13015960700  13015960700  2017  Med Burden  Med Income  229
13015960801  13015960801  2017  Med Burden  Med Income   27
13015960802  13015960802  2017  Med Burden  Med Income    0
13015960803  13015960803  2017  Med Burden  Med Income   26
...                  ...   ...         ...         ...  ...
13247060405  13247060405  2017  Med Burden  Med Income  109
13247060406  13247060406  2017  Med Burden  Med Income   71
13247060407  13247060407  2017  Med Burden  Med Income    9
13255160100  13255160100  2017  Med Burden  Med Income    0
13255160200  13255160200  2017  Med Burden  Med Income    0
13255160300  13255160300  2017  Med Burden  Med Income    0
13255160400  13255160400  2017  Med Burden  Med Income   12
13255160500  13255160500  2017  Med Burden  Med Income   46
13255160600  13255160600  2017  Med Burden  Med Income   17
13255160700  13255160700  2017  Med Burden  Med Income   39
13255160800  13255160800  2017  Med Burden  Med Income   86
13255160900  13255160900  2017  Med Burden  Med Income   18
13255161000  13255161000  2017  Med Burden  Med Income   36
13255161100  13255161100  2017  Med Burden  Med Income   26
13255161200  13255161200  2017  Med Burden  Med Income   96
13297110100  13297110100  2017  Med Burden  Med Income   49
13297110200  13297110200  2017  Med Burden  Med Income   11
13297110300  13297110300  2017  Med Burden  Med Income  108
13297110400  13297110400  2017  Med Burden  Med Income   93
13297110503  13297110503  2017  Med Burden  Med Income   73
13297110504  13297110504  2017  Med Burden  Med Income   94
13297110505  13297110505  2017  Med Burden  Med Income   22
13297110506  13297110506  2017  Med Burden  Med Income   30
13297110507  13297110507  2017  Med Burden  Med Income   50
13297110508  13297110508  2017  Med Burden  Med Income   10
13297110601  13297110601  2017  Med Burden  Med Income   21
13297110602  13297110602  2017  Med Burden  Med Income   44
13297110603  13297110603  2017  Med Burden  Med Income   22
13297110700  13297110700  2017  Med Burden  Med Income  124
13297110800  13297110800  2017  Med Burden  Med Income    0

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2017Med IncomeMed Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2017,Med Burden,Med Income,15,13013180103
13013180104,13013180104,2017,Med Burden,Med Income,0,13013180104
13013180105,13013180105,2017,Med Burden,Med Income,8,13013180105
13013180106,13013180106,2017,Med Burden,Med Income,21,13013180106
13013180107,13013180107,2017,Med Burden,Med Income,19,13013180107

                  GEOID2  YEAR       RentG      IncomeG  HHs
GEOID
13013180103  13013180103  2017  Med Burden  High Income    0
13013180104  13013180104  2017  Med Burden  High Income    0
13013180105  13013180105  2017  Med Burden  High Income    0
13013180106  13013180106  2017  Med Burden  High Income    0
13013180107  13013180107  2017  Med Burden  High Income    0
13013180108  13013180108  2017  Med Burden  High Income    0
13013180203  13013180203  2017  Med Burden  High Income    0
13013180204  13013180204  2017  Med Burden  High Income    0
13013180205  13013180205  2017  Med Burden  High Income    0
13013180206  13013180206  2017  Med Burden  High Income    0
13013180301  13013180301  2017  Med Burden  High Income    0
13013180302  13013180302  2017  Med Burden  High Income    0
13013180303  13013180303  2017  Med Burden  High Income    0
13013180401  13013180401  2017  Med Burden  High Income    0
13013180402  13013180402  2017  Med Burden  High Income    0
13013180501  13013180501  2017  Med Burden  High Income    0
13013180502  13013180502  2017  Med Burden  High Income    9
13013180503  13013180503  2017  Med Burden  High Income    0
13015960101  13015960101  2017  Med Burden  High Income    0
13015960102  13015960102  2017  Med Burden  High Income    0
13015960200  13015960200  2017  Med Burden  High Income    0
13015960300  13015960300  2017  Med Burden  High Income    0
13015960401  13015960401  2017  Med Burden  High Income    0
13015960402  13015960402  2017  Med Burden  High Income    0
13015960500  13015960500  2017  Med Burden  High Income    0
13015960600  13015960600  2017  Med Burden  High Income    0
13015960700  13015960700  2017  Med Burden  High Income    0
13015960801  13015960801  2017  Med Burden  High Income    0
13015960802  13015960802  2017  Med Burden  High Income    0
13015960803  13015960803  2017  Med Burden  High Income    0
...                  ...   ...         ...          ...  ...
13247060405  13247060405  2017  Med Burden  High Income    0
13247060406  13247060406  2017  Med Burden  High Income    0
13247060407  13247060407  2017  Med Burden  High Income    0
13255160100  13255160100  2017  Med Burden  High Income    0
13255160200  13255160200  2017  Med Burden  High Income    0
13255160300  13255160300  2017  Med Burden  High Income    0
13255160400  13255160400  2017  Med Burden  High Income    0
13255160500  13255160500  2017  Med Burden  High Income    0
13255160600  13255160600  2017  Med Burden  High Income    0
13255160700  13255160700  2017  Med Burden  High Income    0
13255160800  13255160800  2017  Med Burden  High Income    0
13255160900  13255160900  2017  Med Burden  High Income    0
13255161000  13255161000  2017  Med Burden  High Income    0
13255161100  13255161100  2017  Med Burden  High Income    0
13255161200  13255161200  2017  Med Burden  High Income    0
13297110100  13297110100  2017  Med Burden  High Income    0
13297110200  13297110200  2017  Med Burden  High Income    0
13297110300  13297110300  2017  Med Burden  High Income    0
13297110400  13297110400  2017  Med Burden  High Income    0
13297110503  13297110503  2017  Med Burden  High Income    0
13297110504  13297110504  2017  Med Burden  High Income    0
13297110505  13297110505  2017  Med Burden  High Income    0
13297110506  13297110506  2017  Med Burden  High Income    0
13297110507  13297110507  2017  Med Burden  High Income    0
13297110508  13297110508  2017  Med Burden  High Income    0
13297110601  13297110601  2017  Med Burden  High Income    0
13297110602  13297110602  2017  Med Burden  High Income    0
13297110603  13297110603  2017  Med Burden  High Income    0
13297110700  13297110700  2017  Med Burden  High Income   15
13297110800  13297110800  2017  Med Burden  High Income    0

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2017High IncomeMed Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2017,Med Burden,High Income,0,13013180103
13013180104,13013180104,2017,Med Burden,High Income,0,13013180104
13013180105,13013180105,2017,Med Burden,High Income,0,13013180105
13013180106,13013180106,2017,Med Burden,High Income,0,13013180106
13013180107,13013180107,2017,Med Burden,High Income,0,13013180107

                  GEOID2  YEAR        RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2017  High Burden  Low Income   33
13013180104  13013180104  2017  High Burden  Low Income   44
13013180105  13013180105  2017  High Burden  Low Income   17
13013180106  13013180106  2017  High Burden  Low Income   65
13013180107  13013180107  2017  High Burden  Low Income   77
13013180108  13013180108  2017  High Burden  Low Income   26
13013180203  13013180203  2017  High Burden  Low Income  166
13013180204  13013180204  2017  High Burden  Low Income  104
13013180205  13013180205  2017  High Burden  Low Income  219
13013180206  13013180206  2017  High Burden  Low Income   73
13013180301  13013180301  2017  High Burden  Low Income   13
13013180302  13013180302  2017  High Burden  Low Income   22
13013180303  13013180303  2017  High Burden  Low Income   64
13013180401  13013180401  2017  High Burden  Low Income   88
13013180402  13013180402  2017  High Burden  Low Income   70
13013180501  13013180501  2017  High Burden  Low Income   64
13013180502  13013180502  2017  High Burden  Low Income   60
13013180503  13013180503  2017  High Burden  Low Income    5
13015960101  13015960101  2017  High Burden  Low Income   11
13015960102  13015960102  2017  High Burden  Low Income  162
13015960200  13015960200  2017  High Burden  Low Income  139
13015960300  13015960300  2017  High Burden  Low Income   83
13015960401  13015960401  2017  High Burden  Low Income  303
13015960402  13015960402  2017  High Burden  Low Income  182
13015960500  13015960500  2017  High Burden  Low Income  388
13015960600  13015960600  2017  High Burden  Low Income  254
13015960700  13015960700  2017  High Burden  Low Income  357
13015960801  13015960801  2017  High Burden  Low Income  166
13015960802  13015960802  2017  High Burden  Low Income    9
13015960803  13015960803  2017  High Burden  Low Income  163
...                  ...   ...          ...         ...  ...
13247060405  13247060405  2017  High Burden  Low Income   11
13247060406  13247060406  2017  High Burden  Low Income   49
13247060407  13247060407  2017  High Burden  Low Income   41
13255160100  13255160100  2017  High Burden  Low Income  100
13255160200  13255160200  2017  High Burden  Low Income   50
13255160300  13255160300  2017  High Burden  Low Income  363
13255160400  13255160400  2017  High Burden  Low Income  212
13255160500  13255160500  2017  High Burden  Low Income  190
13255160600  13255160600  2017  High Burden  Low Income   43
13255160700  13255160700  2017  High Burden  Low Income  296
13255160800  13255160800  2017  High Burden  Low Income  377
13255160900  13255160900  2017  High Burden  Low Income  138
13255161000  13255161000  2017  High Burden  Low Income  170
13255161100  13255161100  2017  High Burden  Low Income  147
13255161200  13255161200  2017  High Burden  Low Income  258
13297110100  13297110100  2017  High Burden  Low Income   84
13297110200  13297110200  2017  High Burden  Low Income  119
13297110300  13297110300  2017  High Burden  Low Income  383
13297110400  13297110400  2017  High Burden  Low Income  432
13297110503  13297110503  2017  High Burden  Low Income   27
13297110504  13297110504  2017  High Burden  Low Income   90
13297110505  13297110505  2017  High Burden  Low Income   29
13297110506  13297110506  2017  High Burden  Low Income   18
13297110507  13297110507  2017  High Burden  Low Income   63
13297110508  13297110508  2017  High Burden  Low Income   28
13297110601  13297110601  2017  High Burden  Low Income    8
13297110602  13297110602  2017  High Burden  Low Income   83
13297110603  13297110603  2017  High Burden  Low Income   96
13297110700  13297110700  2017  High Burden  Low Income  334
13297110800  13297110800  2017  High Burden  Low Income  188

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2017Low IncomeHigh Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2017,High Burden,Low Income,33,13013180103
13013180104,13013180104,2017,High Burden,Low Income,44,13013180104
13013180105,13013180105,2017,High Burden,Low Income,17,13013180105
13013180106,13013180106,2017,High Burden,Low Income,65,13013180106
13013180107,13013180107,2017,High Burden,Low Income,77,13013180107

                  GEOID2  YEAR        RentG     IncomeG  HHs
GEOID
13013180103  13013180103  2017  High Burden  Med Income    0
13013180104  13013180104  2017  High Burden  Med Income    0
13013180105  13013180105  2017  High Burden  Med Income    0
13013180106  13013180106  2017  High Burden  Med Income    0
13013180107  13013180107  2017  High Burden  Med Income    0
13013180108  13013180108  2017  High Burden  Med Income    0
13013180203  13013180203  2017  High Burden  Med Income    0
13013180204  13013180204  2017  High Burden  Med Income    0
13013180205  13013180205  2017  High Burden  Med Income    8
13013180206  13013180206  2017  High Burden  Med Income    0
13013180301  13013180301  2017  High Burden  Med Income    0
13013180302  13013180302  2017  High Burden  Med Income    0
13013180303  13013180303  2017  High Burden  Med Income    9
13013180401  13013180401  2017  High Burden  Med Income    0
13013180402  13013180402  2017  High Burden  Med Income    0
13013180501  13013180501  2017  High Burden  Med Income    0
13013180502  13013180502  2017  High Burden  Med Income    0
13013180503  13013180503  2017  High Burden  Med Income    0
13015960101  13015960101  2017  High Burden  Med Income    0
13015960102  13015960102  2017  High Burden  Med Income    0
13015960200  13015960200  2017  High Burden  Med Income    0
13015960300  13015960300  2017  High Burden  Med Income   12
13015960401  13015960401  2017  High Burden  Med Income    0
13015960402  13015960402  2017  High Burden  Med Income    0
13015960500  13015960500  2017  High Burden  Med Income    0
13015960600  13015960600  2017  High Burden  Med Income    0
13015960700  13015960700  2017  High Burden  Med Income    0
13015960801  13015960801  2017  High Burden  Med Income    0
13015960802  13015960802  2017  High Burden  Med Income    0
13015960803  13015960803  2017  High Burden  Med Income    0
...                  ...   ...          ...         ...  ...
13247060405  13247060405  2017  High Burden  Med Income    0
13247060406  13247060406  2017  High Burden  Med Income    0
13247060407  13247060407  2017  High Burden  Med Income    0
13255160100  13255160100  2017  High Burden  Med Income    0
13255160200  13255160200  2017  High Burden  Med Income    0
13255160300  13255160300  2017  High Burden  Med Income    0
13255160400  13255160400  2017  High Burden  Med Income    0
13255160500  13255160500  2017  High Burden  Med Income    0
13255160600  13255160600  2017  High Burden  Med Income    0
13255160700  13255160700  2017  High Burden  Med Income    0
13255160800  13255160800  2017  High Burden  Med Income    0
13255160900  13255160900  2017  High Burden  Med Income    0
13255161000  13255161000  2017  High Burden  Med Income    0
13255161100  13255161100  2017  High Burden  Med Income    0
13255161200  13255161200  2017  High Burden  Med Income    0
13297110100  13297110100  2017  High Burden  Med Income    0
13297110200  13297110200  2017  High Burden  Med Income    0
13297110300  13297110300  2017  High Burden  Med Income    0
13297110400  13297110400  2017  High Burden  Med Income    0
13297110503  13297110503  2017  High Burden  Med Income    0
13297110504  13297110504  2017  High Burden  Med Income    0
13297110505  13297110505  2017  High Burden  Med Income    0
13297110506  13297110506  2017  High Burden  Med Income    0
13297110507  13297110507  2017  High Burden  Med Income    0
13297110508  13297110508  2017  High Burden  Med Income    0
13297110601  13297110601  2017  High Burden  Med Income    0
13297110602  13297110602  2017  High Burden  Med Income    0
13297110603  13297110603  2017  High Burden  Med Income    0
13297110700  13297110700  2017  High Burden  Med Income   41
13297110800  13297110800  2017  High Burden  Med Income    0

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2017Med IncomeHigh Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2017,High Burden,Med Income,0,13013180103
13013180104,13013180104,2017,High Burden,Med Income,0,13013180104
13013180105,13013180105,2017,High Burden,Med Income,0,13013180105
13013180106,13013180106,2017,High Burden,Med Income,0,13013180106
13013180107,13013180107,2017,High Burden,Med Income,0,13013180107

                  GEOID2  YEAR        RentG      IncomeG  HHs
GEOID
13013180103  13013180103  2017  High Burden  High Income    0
13013180104  13013180104  2017  High Burden  High Income    0
13013180105  13013180105  2017  High Burden  High Income    0
13013180106  13013180106  2017  High Burden  High Income    0
13013180107  13013180107  2017  High Burden  High Income    0
13013180108  13013180108  2017  High Burden  High Income    0
13013180203  13013180203  2017  High Burden  High Income    0
13013180204  13013180204  2017  High Burden  High Income    0
13013180205  13013180205  2017  High Burden  High Income    0
13013180206  13013180206  2017  High Burden  High Income    0
13013180301  13013180301  2017  High Burden  High Income    0
13013180302  13013180302  2017  High Burden  High Income    0
13013180303  13013180303  2017  High Burden  High Income    0
13013180401  13013180401  2017  High Burden  High Income    0
13013180402  13013180402  2017  High Burden  High Income    0
13013180501  13013180501  2017  High Burden  High Income    0
13013180502  13013180502  2017  High Burden  High Income    0
13013180503  13013180503  2017  High Burden  High Income    0
13015960101  13015960101  2017  High Burden  High Income    0
13015960102  13015960102  2017  High Burden  High Income    0
13015960200  13015960200  2017  High Burden  High Income    0
13015960300  13015960300  2017  High Burden  High Income    0
13015960401  13015960401  2017  High Burden  High Income    0
13015960402  13015960402  2017  High Burden  High Income    0
13015960500  13015960500  2017  High Burden  High Income    0
13015960600  13015960600  2017  High Burden  High Income    0
13015960700  13015960700  2017  High Burden  High Income    0
13015960801  13015960801  2017  High Burden  High Income    0
13015960802  13015960802  2017  High Burden  High Income    0
13015960803  13015960803  2017  High Burden  High Income    0
...                  ...   ...          ...          ...  ...
13247060405  13247060405  2017  High Burden  High Income    0
13247060406  13247060406  2017  High Burden  High Income    0
13247060407  13247060407  2017  High Burden  High Income    0
13255160100  13255160100  2017  High Burden  High Income    0
13255160200  13255160200  2017  High Burden  High Income    0
13255160300  13255160300  2017  High Burden  High Income    0
13255160400  13255160400  2017  High Burden  High Income    0
13255160500  13255160500  2017  High Burden  High Income    0
13255160600  13255160600  2017  High Burden  High Income    0
13255160700  13255160700  2017  High Burden  High Income    0
13255160800  13255160800  2017  High Burden  High Income    0
13255160900  13255160900  2017  High Burden  High Income    0
13255161000  13255161000  2017  High Burden  High Income    0
13255161100  13255161100  2017  High Burden  High Income    0
13255161200  13255161200  2017  High Burden  High Income    0
13297110100  13297110100  2017  High Burden  High Income    0
13297110200  13297110200  2017  High Burden  High Income    0
13297110300  13297110300  2017  High Burden  High Income    0
13297110400  13297110400  2017  High Burden  High Income    0
13297110503  13297110503  2017  High Burden  High Income    0
13297110504  13297110504  2017  High Burden  High Income    0
13297110505  13297110505  2017  High Burden  High Income    0
13297110506  13297110506  2017  High Burden  High Income    0
13297110507  13297110507  2017  High Burden  High Income    0
13297110508  13297110508  2017  High Burden  High Income    0
13297110601  13297110601  2017  High Burden  High Income    0
13297110602  13297110602  2017  High Burden  High Income    0
13297110603  13297110603  2017  High Burden  High Income    0
13297110700  13297110700  2017  High Burden  High Income    0
13297110800  13297110800  2017  High Burden  High Income    0

[947 rows x 5 columns]

,GEOID2,YEAR,RentG,IncomeG,2017High IncomeHigh Burden,GEOID
GEOID,,,,,,
13013180103,13013180103,2017,High Burden,High Income,0,13013180103
13013180104,13013180104,2017,High Burden,High Income,0,13013180104
13013180105,13013180105,2017,High Burden,High Income,0,13013180105
13013180106,13013180106,2017,High Burden,High Income,0,13013180106
13013180107,13013180107,2017,High Burden,High Income,0,13013180107

In [128]:
with open('ga.geojson', 'r') as f:
    data = json.load(f)


# for idx, row in df.iterrows():
# #     display(row)
#     GEOID = str(row['GEOID'])
#     YEAR = row['YEAR']
#     for feat in data['features']:
#         feat1 = feat['properties']['GEOID']
#         # print(row['GEOID'])
#         #print(row.to_dict())
#         if feat1 == GEOID:
#             feat['properties'][YEAR] = row.to_dict()
# #             print('added' + GEOID)
            
for idx, row in totalHHs.iterrows():
#     display(row)
    GEOID = str(row['GEOID'])
#     YEAR = row['YEAR']
    for feat in data['features']:
        feat1 = feat['properties']['GEOID']
        # print(row['GEOID'])
        #print(row.to_dict())
        if feat1 == GEOID:
            feat['properties']['HHs'] = str(row['HHs'])
#             print('added' + GEOID)

for idx, row in totalHHspercent.iterrows():
#     display(row)
    GEOID = str(int(row['GEOID']))
    print(GEOID)
    #YEAR = row['YEAR']
    for feat in data['features']:
        feat1 = feat['properties']['GEOID']
#         print(GEOID)
        #print(row.to_dict())
        if feat1 == GEOID:
            feat['properties']['HHPercentExtreme'] = str(row['HHPercentExtreme'])
            print('added' + GEOID)

#Write result to a new file
with open('new2.geojson', 'w') as f:
    json.dump(data, f)

13013180103
added13013180103
13013180104
added13013180104
13013180105
added13013180105
13013180106
added13013180106
13013180107
added13013180107
13013180108
added13013180108
13013180203
added13013180203
13013180204
added13013180204
13013180205
added13013180205
13013180206
added13013180206
13013180301
added13013180301
13013180302
added13013180302
13013180303
added13013180303
13013180401
added13013180401
13013180402
added13013180402
13013180501
added13013180501
13013180502
added13013180502
13013180503
added13013180503
13015960101
added13015960101
13015960102
added13015960102
13015960200
added13015960200
13015960300
added13015960300
13015960401
added13015960401
13015960402
added13015960402
13015960500
added13015960500
13015960600
added13015960600
13015960700
added13015960700
13015960801
added13015960801
13015960802
added13015960802
13015960803
added13015960803
13015960901
added13015960901
13015960902
added13015960902
13015961000
added13015961000
13045910101
added13045910101
13045910103
added13045910103
13045910104
added13045910104
13045910200
added13045910200
13045910300
added13045910300
13045910400
added13045910400
13045910501
added13045910501
13045910502
added13045910502
13045910600
added13045910600
13045910701
added13045910701
13045910702
added13045910702
13045910703
added13045910703
13045910800
added13045910800
13045910900
added13045910900
13045911000
added13045911000
13045911100
added13045911100
13045911200
added13045911200
13057090100
added13057090100
13057090200
added13057090200
13057090300
added13057090300
13057090400
added13057090400
13057090501
added13057090501
13057090502
added13057090502
13057090601
added13057090601
13057090602
added13057090602
13057090701
added13057090701
13057090702
added13057090702
13057090802
added13057090802
13057090803
added13057090803
13057090804
added13057090804
13057090901
added13057090901
13057090902
added13057090902
13057090904
added13057090904
13057090905
added13057090905
13057091001
added13057091001
13057091003
added13057091003
13057091005
added13057091005
13057091006
added13057091006
13057091007
added13057091007
13057091008
added13057091008
13057091101
added13057091101
13057091102
added13057091102
13057091103
added13057091103
13063040202
added13063040202
13063040203
added13063040203
13063040204
added13063040204
13063040302
added13063040302
13063040303
added13063040303
13063040306
added13063040306
13063040307
added13063040307
13063040308
added13063040308
13063040407
added13063040407
13063040408
added13063040408
13063040409
added13063040409
13063040410
added13063040410
13063040411
added13063040411
13063040412
added13063040412
13063040413
added13063040413
13063040414
added13063040414
13063040415
added13063040415
13063040416
added13063040416
13063040417
added13063040417
13063040509
added13063040509
13063040510
added13063040510
13063040512
added13063040512
13063040513
added13063040513
13063040514
added13063040514
13063040515
added13063040515
13063040516
added13063040516
13063040518
added13063040518
13063040519
added13063040519
13063040520
added13063040520
13063040521
added13063040521
13063040522
added13063040522
13063040523
added13063040523
13063040524
added13063040524
13063040525
added13063040525
13063040526
added13063040526
13063040606
added13063040606
13063040608
added13063040608
13063040609
added13063040609
13063040611
added13063040611
13063040612
added13063040612
13063040613
added13063040613
13063040614
added13063040614
13063040615
added13063040615
13063040616
added13063040616
13063040617
added13063040617
13063040619
added13063040619
13063040620
added13063040620
13063040621
added13063040621
13063040622
added13063040622
13063980000
added13063980000
13067030101
added13067030101
13067030103
added13067030103
13067030104
added13067030104
13067030106
added13067030106
13067030107
added13067030107
13067030209
added13067030209
13067030214
added13067030214
13067030215
added13067030215
13067030218
added13067030218
13067030219
added13067030219
13067030220
added13067030220
13067030222
added13067030222
13067030223
added13067030223
13067030224
added13067030224
13067030226
added13067030226
13067030227
added13067030227
13067030228
added13067030228
13067030229
added13067030229
13067030230
added13067030230
13067030231
added13067030231
13067030232
added13067030232
13067030233
added13067030233
13067030234
added13067030234
13067030235
added13067030235
13067030236
added13067030236
13067030238
added13067030238
13067030239
added13067030239
13067030310
added13067030310
13067030311
added13067030311
13067030312
added13067030312
13067030313
added13067030313
13067030314
added13067030314
13067030318
added13067030318
13067030319
added13067030319
13067030320
added13067030320
13067030322
added13067030322
13067030324
added13067030324
13067030326
added13067030326
13067030327
added13067030327
13067030328
added13067030328
13067030329
added13067030329
13067030330
added13067030330
13067030331
added13067030331
13067030332
added13067030332
13067030333
added13067030333
13067030334
added13067030334
13067030335
added13067030335
13067030336
added13067030336
13067030337
added13067030337
13067030339
added13067030339
13067030340
added13067030340
13067030341
added13067030341
13067030342
added13067030342
13067030343
added13067030343
13067030344
added13067030344
13067030345
added13067030345
13067030405
added13067030405
13067030407
added13067030407
13067030408
added13067030408
13067030409
added13067030409
13067030410
added13067030410
13067030411
added13067030411
13067030412
added13067030412
13067030413
added13067030413
13067030414
added13067030414
13067030502
added13067030502
13067030504
added13067030504
13067030505
added13067030505
13067030506
added13067030506
13067030507
added13067030507
13067030601
added13067030601
13067030602
added13067030602
13067030700
added13067030700
13067030800
added13067030800
13067030901
added13067030901
13067030902
added13067030902
13067030904
added13067030904
13067030905
added13067030905
13067031001
added13067031001
13067031002
added13067031002
13067031004
added13067031004
13067031005
added13067031005
13067031101
added13067031101
13067031106
added13067031106
13067031108
added13067031108
13067031110
added13067031110
13067031111
added13067031111
13067031112
added13067031112
13067031113
added13067031113
13067031114
added13067031114
13067031115
added13067031115
13067031116
added13067031116
13067031117
added13067031117
13067031118
added13067031118
13067031205
added13067031205
13067031206
added13067031206
13067031207
added13067031207
13067031208
added13067031208
13067031209
added13067031209
13067031211
added13067031211
13067031212
added13067031212
13067031306
added13067031306
13067031307
added13067031307
13067031308
added13067031308
13067031309
added13067031309
13067031310
added13067031310
13067031311
added13067031311
13067031312
added13067031312
13067031313
added13067031313
13067031404
added13067031404
13067031405
added13067031405
13067031406
added13067031406
13067031408
added13067031408
13067031409
added13067031409
13067031503
added13067031503
13067031505
added13067031505
13067031506
added13067031506
13067031507
added13067031507
13067031508
added13067031508
13067031509
added13067031509
13077170100
added13077170100
13077170200
added13077170200
13077170303
added13077170303
13077170304
added13077170304
13077170305
added13077170305
13077170306
added13077170306
13077170402
added13077170402
13077170403
added13077170403
13077170404
added13077170404
13077170405
added13077170405
13077170406
added13077170406
13077170501
added13077170501
13077170502
added13077170502
13077170503
added13077170503
13077170601
added13077170601
13077170602
added13077170602
13077170603
added13077170603
13077170700
added13077170700
13077170801
added13077170801
13077170802
added13077170802
13089020100
added13089020100
13089020200
added13089020200
13089020300
added13089020300
13089020400
added13089020400
13089020500
added13089020500
13089020600
added13089020600
13089020700
added13089020700
13089020801
added13089020801
13089020802
added13089020802
13089020900
added13089020900
13089021101
added13089021101
13089021102
added13089021102
13089021202
added13089021202
13089021204
added13089021204
13089021208
added13089021208
13089021209
added13089021209
13089021210
added13089021210
13089021211
added13089021211
13089021213
added13089021213
13089021214
added13089021214
13089021215
added13089021215
13089021216
added13089021216
13089021217
added13089021217
13089021218
added13089021218
13089021301
added13089021301
13089021303
added13089021303
13089021305
added13089021305
13089021306
added13089021306
13089021307
added13089021307
13089021308
added13089021308
13089021405
added13089021405
13089021409
added13089021409
13089021410
added13089021410
13089021411
added13089021411
13089021412
added13089021412
13089021413
added13089021413
13089021414
added13089021414
13089021415
added13089021415
13089021416
added13089021416
13089021417
added13089021417
13089021502
added13089021502
13089021503
added13089021503
13089021504
added13089021504
13089021602
added13089021602
13089021603
added13089021603
13089021604
added13089021604
13089021605
added13089021605
13089021703
added13089021703
13089021704
added13089021704
13089021705
added13089021705
13089021706
added13089021706
13089021805
added13089021805
13089021806
added13089021806
13089021808
added13089021808
13089021809
added13089021809
13089021810
added13089021810
13089021812
added13089021812
13089021813
added13089021813
13089021814
added13089021814
13089021906
added13089021906
13089021907
added13089021907
13089021908
added13089021908
13089021909
added13089021909
13089021910
added13089021910
13089021911
added13089021911
13089021912
added13089021912
13089021913
added13089021913
13089022001
added13089022001
13089022004
added13089022004
13089022005
added13089022005
13089022007
added13089022007
13089022008
added13089022008
13089022009
added13089022009
13089022010
added13089022010
13089022100
added13089022100
13089022203
added13089022203
13089022204
added13089022204
13089022301
added13089022301
13089022302
added13089022302
13089022401
added13089022401
13089022402
added13089022402
13089022403
added13089022403
13089022500
added13089022500
13089022600
added13089022600
13089022700
added13089022700
13089022800
added13089022800
13089022900
added13089022900
13089023000
added13089023000
13089023101
added13089023101
13089023102
added13089023102
13089023107
added13089023107
13089023108
added13089023108
13089023111
added13089023111
13089023112
added13089023112
13089023113
added13089023113
13089023114
added13089023114
13089023115
added13089023115
13089023204
added13089023204
13089023206
added13089023206
13089023208
added13089023208
13089023209
added13089023209
13089023210
added13089023210
13089023211
added13089023211
13089023212
added13089023212
13089023213
added13089023213
13089023214
added13089023214
13089023303
added13089023303
13089023306
added13089023306
13089023309
added13089023309
13089023310
added13089023310
13089023311
added13089023311
13089023312
added13089023312
13089023313
added13089023313
13089023314
added13089023314
13089023315
added13089023315
13089023316
added13089023316
13089023410
added13089023410
13089023411
added13089023411
13089023412
added13089023412
13089023413
added13089023413
13089023414
added13089023414
13089023416
added13089023416
13089023418
added13089023418
13089023419
added13089023419
13089023421
added13089023421
13089023422
added13089023422
13089023423
added13089023423
13089023424
added13089023424
13089023425
added13089023425
13089023426
added13089023426
13089023427
added13089023427
13089023428
added13089023428
13089023501
added13089023501
13089023504
added13089023504
13089023505
added13089023505
13089023506
added13089023506
13089023507
added13089023507
13089023601
added13089023601
13089023602
added13089023602
13089023603
added13089023603
13089023700
added13089023700
13089023801
added13089023801
13089023802
added13089023802
13089023803
added13089023803
13089980000
added13089980000
13097080102
added13097080102
13097080103
added13097080103
13097080201
added13097080201
13097080202
added13097080202
13097080301
added13097080301
13097080303
added13097080303
13097080304
added13097080304
13097080402
added13097080402
13097080403
added13097080403
13097080404
added13097080404
13097080505
added13097080505
13097080506
added13097080506
13097080507
added13097080507
13097080508
added13097080508
13097080509
added13097080509
13097080510
added13097080510
13097080511
added13097080511
13097080602
added13097080602
13097080603
added13097080603
13097080604
added13097080604
13113140101
added13113140101
13113140102
added13113140102
13113140203
added13113140203
13113140204
added13113140204
13113140206
added13113140206
13113140207
added13113140207
13113140208
added13113140208
13113140303
added13113140303
13113140304
added13113140304
13113140305
added13113140305
13113140306
added13113140306
13113140307
added13113140307
13113140403
added13113140403
13113140404
added13113140404

13113140405
added13113140405
13113140406
added13113140406
13113140407
added13113140407
13113140408
added13113140408
13113140501
added13113140501
13113140502
added13113140502
13117130101
added13117130101
13117130102
added13117130102
13117130103
added13117130103
13117130104
added13117130104
13117130105
added13117130105
13117130201
added13117130201
13117130202
added13117130202
13117130203
added13117130203
13117130204
added13117130204
13117130205
added13117130205
13117130301
added13117130301
13117130302
added13117130302
13117130303
added13117130303
13117130304
added13117130304
13117130305
added13117130305
13117130306
added13117130306
13117130307
added13117130307
13117130403
added13117130403
13117130404
added13117130404
13117130405
added13117130405
13117130406
added13117130406
13117130408
added13117130408
13117130409
added13117130409
13117130410
added13117130410
13117130503
added13117130503
13117130504
added13117130504
13117130505
added13117130505
13117130506
added13117130506
13117130507
added13117130507
13117130508
added13117130508
13117130509
added13117130509
13117130510
added13117130510
13117130601
added13117130601
13117130602
added13117130602
13117130603
added13117130603
13117130604
added13117130604
13117130605
added13117130605
13117130606
added13117130606
13117130607
added13117130607
13117130608
added13117130608
13117130609
added13117130609
13117130610
added13117130610
13117130611
added13117130611
13117130612
added13117130612
13117130613
added13117130613
13121000100
added13121000100
13121000200
added13121000200
13121000400
added13121000400
13121000500
added13121000500
13121000600
added13121000600
13121000700
added13121000700
13121001001
added13121001001
13121001002
added13121001002
13121001100
added13121001100
13121001201
added13121001201
13121001202
added13121001202
13121001300
added13121001300
13121001400
added13121001400
13121001500
added13121001500
13121001600
added13121001600
13121001700
added13121001700
13121001800
added13121001800
13121001900
added13121001900
13121002100
added13121002100
13121002300
added13121002300
13121002400
added13121002400
13121002500
added13121002500
13121002600
added13121002600
13121002800
added13121002800
13121002900
added13121002900
13121003000
added13121003000
13121003100
added13121003100
13121003200
added13121003200
13121003500
added13121003500
13121003600
added13121003600
13121003700
added13121003700
13121003800
added13121003800
13121003900
added13121003900
13121004000
added13121004000
13121004100
added13121004100
13121004200
added13121004200
13121004300
added13121004300
13121004400
added13121004400
13121004800
added13121004800
13121004900
added13121004900
13121005000
added13121005000
13121005200
added13121005200
13121005300
added13121005300
13121005501
added13121005501
13121005502
added13121005502
13121005700
added13121005700
13121005800
added13121005800
13121006000
added13121006000
13121006100
added13121006100
13121006200
added13121006200
13121006300
added13121006300
13121006400
added13121006400
13121006500
added13121006500
13121006601
added13121006601
13121006602
added13121006602
13121006700
added13121006700
13121006801
added13121006801
13121006802
added13121006802
13121006900
added13121006900
13121007001
added13121007001
13121007002
added13121007002
13121007100
added13121007100
13121007200
added13121007200
13121007300
added13121007300
13121007400
added13121007400
13121007500
added13121007500
13121007602
added13121007602
13121007603
added13121007603
13121007604
added13121007604
13121007703
added13121007703
13121007704
added13121007704
13121007705
added13121007705
13121007706
added13121007706
13121007802
added13121007802
13121007805
added13121007805
13121007806
added13121007806
13121007807
added13121007807
13121007808
added13121007808
13121007900
added13121007900
13121008000
added13121008000
13121008101
added13121008101
13121008102
added13121008102
13121008201
added13121008201
13121008202
added13121008202
13121008301
added13121008301
13121008302
added13121008302
13121008400
added13121008400
13121008500
added13121008500
13121008601
added13121008601
13121008602
added13121008602
13121008700
added13121008700
13121008800
added13121008800
13121008902
added13121008902
13121008903
added13121008903
13121008904
added13121008904
13121009000
added13121009000
13121009101
added13121009101
13121009102
added13121009102
13121009200
added13121009200
13121009300
added13121009300
13121009402
added13121009402
13121009403
added13121009403
13121009404
added13121009404
13121009501
added13121009501
13121009502
added13121009502
13121009601
added13121009601
13121009602
added13121009602
13121009603
added13121009603
13121009700
added13121009700
13121009801
added13121009801
13121009802
added13121009802
13121009900
added13121009900
13121010001
added13121010001
13121010002
added13121010002
13121010106
added13121010106
13121010107
added13121010107
13121010108
added13121010108
13121010110
added13121010110
13121010113
added13121010113
13121010114
added13121010114
13121010115
added13121010115
13121010117
added13121010117
13121010118
added13121010118
13121010119
added13121010119
13121010120
added13121010120
13121010121
added13121010121
13121010122
added13121010122
13121010123
added13121010123
13121010204
added13121010204
13121010205
added13121010205
13121010206
added13121010206
13121010208
added13121010208
13121010209
added13121010209
13121010210
added13121010210
13121010211
added13121010211
13121010212
added13121010212
13121010301
added13121010301
13121010303
added13121010303
13121010304
added13121010304
13121010400
added13121010400
13121010507
added13121010507
13121010508
added13121010508
13121010510
added13121010510
13121010511
added13121010511
13121010512
added13121010512
13121010513
added13121010513
13121010514
added13121010514
13121010515
added13121010515
13121010516
added13121010516
13121010601
added13121010601
13121010603
added13121010603
13121010604
added13121010604
13121010800
added13121010800
13121011000
added13121011000
13121011100
added13121011100
13121011201
added13121011201
13121011202
added13121011202
13121011301
added13121011301
13121011303
added13121011303
13121011305
added13121011305
13121011306
added13121011306
13121011405
added13121011405
13121011410
added13121011410
13121011411
added13121011411
13121011412
added13121011412
13121011414
added13121011414
13121011416
added13121011416
13121011417
added13121011417
13121011418
added13121011418
13121011419
added13121011419
13121011420
added13121011420
13121011421
added13121011421
13121011422
added13121011422
13121011423
added13121011423
13121011424
added13121011424
13121011425
added13121011425
13121011426
added13121011426
13121011427
added13121011427
13121011503
added13121011503
13121011504
added13121011504
13121011505
added13121011505
13121011506
added13121011506
13121011610
added13121011610
13121011611
added13121011611
13121011612
added13121011612
13121011613
added13121011613
13121011614
added13121011614
13121011615
added13121011615
13121011616
added13121011616
13121011617
added13121011617
13121011618
added13121011618
13121011619
added13121011619
13121011620
added13121011620
13121011621
added13121011621
13121011622
added13121011622
13121011623
added13121011623
13121011624
added13121011624
13121011625
added13121011625
13121011626
added13121011626
13121011800
added13121011800
13121011900
added13121011900
13121012000
added13121012000
13121012300
added13121012300
13135050103
added13135050103
13135050105
added13135050105
13135050106
added13135050106
13135050107
added13135050107
13135050108
added13135050108
13135050109
added13135050109
13135050205
added13135050205
13135050208
added13135050208
13135050209
added13135050209
13135050210
added13135050210
13135050211
added13135050211
13135050212
added13135050212
13135050213
added13135050213
13135050214
added13135050214
13135050215
added13135050215
13135050216
added13135050216
13135050217
added13135050217
13135050218
added13135050218
13135050219
added13135050219
13135050220
added13135050220
13135050304
added13135050304
13135050306
added13135050306
13135050308
added13135050308
13135050309
added13135050309
13135050310
added13135050310
13135050311
added13135050311
13135050313
added13135050313
13135050314
added13135050314
13135050315
added13135050315
13135050317
added13135050317
13135050318
added13135050318
13135050319
added13135050319
13135050320
added13135050320
13135050321
added13135050321
13135050322
added13135050322
13135050410
added13135050410
13135050415
added13135050415
13135050416
added13135050416
13135050417
added13135050417
13135050418
added13135050418
13135050419
added13135050419
13135050421
added13135050421
13135050422
added13135050422
13135050423
added13135050423
13135050424
added13135050424
13135050425
added13135050425
13135050426
added13135050426
13135050427
added13135050427
13135050428
added13135050428
13135050429
added13135050429
13135050430
added13135050430
13135050431
added13135050431
13135050432
added13135050432
13135050433
added13135050433
13135050434
added13135050434
13135050435
added13135050435
13135050436
added13135050436
13135050511
added13135050511
13135050520

added13135050520
13135050521
added13135050521
13135050522
added13135050522
13135050523
added13135050523
13135050524
added13135050524
13135050525
added13135050525
13135050526
added13135050526
13135050527
added13135050527
13135050528
added13135050528
13135050529
added13135050529
13135050530
added13135050530
13135050531
added13135050531
13135050532
added13135050532
13135050533
added13135050533
13135050534
added13135050534
13135050535
added13135050535
13135050536
added13135050536
13135050537
added13135050537
13135050538
added13135050538
13135050539
added13135050539
13135050540
added13135050540
13135050541
added13135050541
13135050542
added13135050542
13135050543
added13135050543
13135050544
added13135050544
13135050545
added13135050545
13135050546
added13135050546
13135050547
added13135050547
13135050548
added13135050548
13135050549
added13135050549
13135050605
added13135050605
13135050606
added13135050606
13135050607
added13135050607
13135050608
added13135050608
13135050609
added13135050609
13135050610
added13135050610
13135050709
added13135050709
13135050712
added13135050712
13135050713
added13135050713
13135050714
added13135050714
13135050715
added13135050715
13135050718
added13135050718
13135050719
added13135050719
13135050720
added13135050720
13135050721
added13135050721
13135050722
added13135050722
13135050723
added13135050723
13135050724
added13135050724
13135050725
added13135050725
13135050726
added13135050726
13135050727
added13135050727
13135050728
added13135050728
13135050729
added13135050729
13135050730
added13135050730
13135050731
added13135050731
13139000101
added13139000101
13139000102
added13139000102
13139000201
added13139000201
13139000203
added13139000203
13139000204
added13139000204
13139000302
added13139000302
13139000303
added13139000303
13139000304
added13139000304
13139000305
added13139000305
13139000400
added13139000400
13139000500
added13139000500
13139000600
added13139000600
13139000701
added13139000701
13139000702
added13139000702
13139000800
added13139000800
13139000900
added13139000900
13139001002
added13139001002
13139001003
added13139001003
13139001004
added13139001004
13139001101
added13139001101
13139001102
added13139001102
13139001201
added13139001201
13139001202
added13139001202
13139001301
added13139001301
13139001302
added13139001302
13139001402
added13139001402
13139001403
added13139001403
13139001404
added13139001404
13139001501
added13139001501
13139001502
added13139001502
13139001603
added13139001603
13139001604
added13139001604
13139001605
added13139001605
13139001606
added13139001606
13139001607
added13139001607
13139001608
added13139001608
13151070104
added13151070104
13151070106
added13151070106
13151070107
added13151070107
13151070108
added13151070108
13151070109
added13151070109
13151070110
added13151070110
13151070111
added13151070111
13151070113
added13151070113
13151070114
added13151070114
13151070202
added13151070202
13151070203
added13151070203
13151070204
added13151070204
13151070205
added13151070205
13151070304
added13151070304
13151070305
added13151070305
13151070306
added13151070306
13151070307
added13151070307
13151070309
added13151070309
13151070310
added13151070310
13151070311
added13151070311
13151070402
added13151070402
13151070403
added13151070403
13151070404
added13151070404
13151070501
added13151070501
13151070502
added13151070502
13217100100
added13217100100
13217100201
added13217100201
13217100202
added13217100202
13217100300
added13217100300
13217100400
added13217100400
13217100501
added13217100501
13217100502
added13217100502
13217100600
added13217100600
13217100700
added13217100700
13217100800
added13217100800
13217100901
added13217100901
13217100902
added13217100902
13217100903
added13217100903
13223120101
added13223120101
13223120102
added13223120102
13223120103
added13223120103
13223120104
added13223120104
13223120202
added13223120202
13223120203
added13223120203
13223120204
added13223120204
13223120301
added13223120301
13223120302
added13223120302
13223120303
added13223120303
13223120400
added13223120400
13223120501
added13223120501
13223120502
added13223120502
13223120503
added13223120503
13223120601
added13223120601
13223120602
added13223120602
13223120603
added13223120603
13223120604
added13223120604
13223120605
added13223120605
13247060101
added13247060101
13247060102
added13247060102
13247060201
added13247060201
13247060202
added13247060202
13247060304
added13247060304
13247060305
added13247060305
13247060306
added13247060306
13247060307
added13247060307
13247060308
added13247060308
13247060309
added13247060309
13247060403
added13247060403
13247060404
added13247060404
13247060405
added13247060405
13247060406
added13247060406
13247060407
added13247060407
13255160100
added13255160100
13255160200
added13255160200
13255160300
added13255160300
13255160400
added13255160400
13255160500
added13255160500
13255160600
added13255160600
13255160700
added13255160700
13255160800
added13255160800
13255160900
added13255160900
13255161000
added13255161000
13255161100
added13255161100
13255161200
added13255161200
13297110100
added13297110100
13297110200
added13297110200
13297110300
added13297110300
13297110400
added13297110400
13297110503
added13297110503
13297110504
added13297110504
13297110505
added13297110505
13297110506
added13297110506
13297110507
added13297110507
13297110508
added13297110508
13297110601
added13297110601
13297110602
added13297110602
13297110603
added13297110603
13297110700
added13297110700
13297110800
added13297110800

In [11]:
df.to_csv('final_summary.csv')

In [129]:
geotable = geopandas.read_file('new2.geojson')

display(geotable.head())
#geotable = geotable.astype('int64').dtypes
geotable[['GEOID']] = geotable[['GEOID']].astype('int64')

geotable2 = geotable.merge(atlantageocodes, on='GEOID')

# gdf = geopandas.GeoDataFrame(geotable2, geometry=geopandas.points_from_xy(df.Longitude, df.Latitude))

display(geotable2.head())

# geotable2 = geotable2[~geotable2.geometry.str.contains("MULTIPOLYGON")]

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,HHs,HHPercentExtreme,geometry
0,13,153,020105,13153020105,201.05,Census Tract 201.05,G5020,S,5620037.0,89197.0,+32.6412869,-083.6449301,None,None,"POLYGON ((-83.660753 32.635764, -83.660735 32...."
1,13,153,020108,13153020108,201.08,Census Tract 201.08,G5020,S,10732046.0,65358.0,+32.6404762,-083.6768373,None,None,"POLYGON ((-83.69864699999999 32.659458, -83.69..."
2,13,089,023315,13089023315,233.15,Census Tract 233.15,G5020,S,23296834.0,363011.0,+33.7542712,-084.0659786,235,0.37872340425531914,"POLYGON ((-84.10821900000001 33.758834, -84.10..."
3,13,089,023421,13089023421,234.21,Census Tract 234.21,G5020,S,6124825.0,136878.0,+33.6850994,-084.2587867,1723,0.2199651770168311,"POLYGON ((-84.277354 33.674202, -84.277171 33...."
4,13,089,021504,13089021504,215.04,Census Tract 215.04,G5020,S,3732018.0,39771.0,+33.8087264,-084.3224789,1621,0.30351634793337445,"POLYGON ((-84.338874 33.799947, -84.338553 33...."

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,HHs,HHPercentExtreme,geometry
0,13,089,023315,13089023315,233.15,Census Tract 233.15,G5020,S,23296834.0,363011.0,+33.7542712,-084.0659786,235,0.37872340425531914,"POLYGON ((-84.10821900000001 33.758834, -84.10..."
1,13,089,023421,13089023421,234.21,Census Tract 234.21,G5020,S,6124825.0,136878.0,+33.6850994,-084.2587867,1723,0.2199651770168311,"POLYGON ((-84.277354 33.674202, -84.277171 33...."
2,13,089,021504,13089021504,215.04,Census Tract 215.04,G5020,S,3732018.0,39771.0,+33.8087264,-084.3224789,1621,0.30351634793337445,"POLYGON ((-84.338874 33.799947, -84.338553 33...."
3,13,089,023419,13089023419,234.19,Census Tract 234.19,G5020,S,13219799.0,241092.0,+33.6493730,-084.2278033,727,0.10041265474552957,"POLYGON ((-84.25414499999999 33.64708, -84.254..."
4,13,089,021411,13089021411,214.11,Census Tract 214.11,G5020,S,1667281.0,0.0,+33.8667772,-084.3293120,1070,0.15327102803738318,"POLYGON ((-84.338921 33.860744, -84.3379610000..."

In [130]:
type(geotable2)
# geotable2.to_csv('testgeo.csv')
# geotable2 = geopandas.read_file('testgeo.csv')

geotable2.to_file("metroatlanta.geojson", driver='GeoJSON')