In [12]:
import pandas as pd

In [14]:
df = pd.read_csv("project2housing.csv", encoding = "utf-8")
df.head()

,% Occupied,% Reported,% Extremely Low Income,% Female Head,% in poverty (Census tract),% minority (Census tract),% Very Low Income,% with disability among Head Spouse Co-head aged 61 years or less,% with disability among Head Spouse Co-head aged 62 years or older,0-1 BedroomUnits,...,Subsidized units available,Supportive Housing Elderly,Target Tenant Type,Three Plus Bedroom Units,Total Units,Total Low Income H Hs,TractID,TractName,Two Bedroom Units,Zip
0,78,93,72,71,21,65,96,33,52,70.0,...,228,NaN,NaN,NaN,135,432,20500,Census Tract 205,66.0,30307-2787
1,78,93,72,71,21,65,96,33,52,0.0,...,228,NaN,NaN,38.0,154,432,20500,Census Tract 205,114.0,30307-2747
2,78,93,72,71,21,65,96,33,52,NaN,...,228,NaN,NaN,NaN,100,432,20500,Census Tract 205,NaN,30307
3,88,90,84,85,32,67,98,12,46,30.0,...,257,NaN,NaN,10.0,40,402,20600,Census Tract 206,NaN,30307
4,88,90,84,85,32,67,98,12,46,0.0,...,257,NaN,NaN,0.0,100,402,20600,Census Tract 206,0.0,30307