In [30]:
import pandas as pd
import json

In [31]:
df = pd.read_csv("project2housing.csv", encoding = "utf-8")
df

,% Occupied,% Reported,% Extremely Low Income,% Female Head,% in poverty (Census tract),% minority (Census tract),% Very Low Income,% with disability among Head Spouse Co-head aged 61 years or less,% with disability among Head Spouse Co-head aged 62 years or older,0-1 BedroomUnits,...,Subsidized units available,Supportive Housing Elderly,Target Tenant Type,Three Plus Bedroom Units,Total Units,Total Low Income H Hs,TractID,TractName,Two Bedroom Units,Zip
0,78,93,72,71,21,65,96,33,52,70.0,...,228,NaN,NaN,NaN,135,432,20500,Census Tract 205,66.0,30307-2787
1,78,93,72,71,21,65,96,33,52,0.0,...,228,NaN,NaN,38.0,154,432,20500,Census Tract 205,114.0,30307-2747
2,78,93,72,71,21,65,96,33,52,NaN,...,228,NaN,NaN,NaN,100,432,20500,Census Tract 205,NaN,30307
3,88,90,84,85,32,67,98,12,46,30.0,...,257,NaN,NaN,10.0,40,402,20600,Census Tract 206,NaN,30307
4,88,90,84,85,32,67,98,12,46,0.0,...,257,NaN,NaN,0.0,100,402,20600,Census Tract 206,0.0,30307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406,86,97,77,67,38,95,95,32,32,97.0,...,561,NaN,Family,50.0,180,771,12000,Census Tract 120,7.0,30312-2639
407,92,100,84,74,19,67,98,40,86,NaN,...,21,NaN,NaN,NaN,1,417,12300,Census Tract 123,NaN,30337
408,92,100,84,74,19,67,98,40,86,23.0,...,21,NaN,NaN,NaN,116,417,12300,Census Tract 123,93.0,30337-2939
409,81,95,63,57,50,0,93,21,22,0.0,...,224,NaN,Senior,0.0,60,110,3700,Census Tract 37,0.0,30314-4232
410,81,95,63,57,50,0,93,21,22,90.0,...,224,NaN,Family,0.0,100,110,3700,Census Tract 37,10.0,30314-4209

In [32]:
df_json = df.to_json (r'project2housing_data.json', orient='split')